<aside id="left-panel">

    <!-- User info -->
    <div login-info></div>
    <!-- end user info -->

    <nav>
        <!-- NOTE: Notice the gaps after each icon usage <i></i>..
        Please note that these links work a bit different than
        traditional href="" links. See documentation for details.
        -->

        <ul data-smart-menu>
            <!--自己-->
            <li data-menu-collapse>
                <a href="#" title="Control Point"><i class="fa fa-lg fa-fw fa-desktop"></i> <span
                        class="menu-item-parent">{{getWord('Control Point')}}</span></a>
                <ul>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.ControlPoint.Costinterlockschedule"><i class="fa fa-lg fa-fw fa-external-link-square"></i> {{getWord('Cost interlock schedule')}}</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.ControlPoint.CycleVersioncontrol"><i class="fa fa-lg fa-fw fa-external-link-square"></i> {{getWord('Cycle & Version control')}}</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.ControlPoint.Taskqueue"><i class="fa fa-lg fa-fw fa-external-link-square"></i> {{getWord('Task queue')}}</a>
                    </li>
                </ul>
            </li>

            <li data-menu-collapse>
                <a href="#"><i class="fa fa-lg fa-fw fa-cube"></i> <span class="menu-item-parent">{{getWord('Basic data')}}</span></a>
                <ul>
                    <li data-menu-collapse>
                        <a href="#"><i class="fa fa-lg fa-fw fa-external-link-square"></i> {{getWord('Master data maintenance')}}</a>
                        <ul>
                            <li data-ui-sref-active="active">
                                <a data-ui-sref="app.Basicdata.Masterdatamaintenance.Segmentmaintenance"><i class="fa fa-leaf"></i> {{getWord('Segment maintenance')}}</a>
                            </li>
                            <li data-ui-sref-active="active">
                                <a data-ui-sref="app.Basicdata.Masterdatamaintenance.BUmaintenance">
                                    <i class="fa fa-leaf"></i> {{getWord('BU maintenance')}}</a>
                            </li>
                            <li data-ui-sref-active="active">
                                <a data-ui-sref="app.Basicdata.Masterdatamaintenance.Commoditymaintenance">
                                    <i class="fa fa-leaf"></i> {{getWord('Commodity maintena...')}}</a>
                            </li>
                            <li data-ui-sref-active="active">
                                <a data-ui-sref="app.Basicdata.Masterdatamaintenance.OtherCategorymasterdata"><i class="fa fa-leaf"></i> {{getWord('Other category maste...')}}</a>
                            </li>
                            <li data-ui-sref-active="active">
                                <a data-ui-sref="app.Basicdata.Masterdatamaintenance.DataMapping"><i class="fa fa-leaf"></i> {{getWord('Data Mapping')}}</a>
                            </li>
                        </ul>
                    </li>
                    <li data-menu-collapse>
                        <a href="#"><i class="fa fa-lg fa-fw fa-external-link-square"></i> {{getWord('Data source detail')}}</a>
                        <ul>
                            <li data-ui-sref-active="active">
                                <a data-ui-sref="app.Basicdata.DatasourceDetail.Markupdetail"><i class="fa fa-leaf"></i> {{getWord('Markup detail')}}</a>
                            </li>
                            <li data-ui-sref-active="active">
                                <a data-ui-sref="app.Basicdata.DatasourceDetail.EBRQtydetail">
                                    <i class="fa fa-leaf"></i> {{getWord('EBR/宇宙版 Qty detail')}}</a>
                            </li>
                            <li data-ui-sref-active="active">
                                <a data-ui-sref="app.Basicdata.DatasourceDetail.CFEBMCdetail"><i class="fa fa-leaf"></i> {{getWord('CFE BMC detail')}}</a>
                            </li>
                            <li data-ui-sref-active="active">
                                <a data-ui-sref="app.Basicdata.DatasourceDetail.BPCCAdetail">
                                    <i class="fa fa-leaf"></i> {{getWord('BPC CA detail')}}</a>
                            </li>
                            <li data-ui-sref-active="active">
                                <a data-ui-sref="app.Basicdata.DatasourceDetail.BPCBMCForecastdetail"><i class="fa fa-leaf"></i> {{getWord('BPC BMC Forecast detail')}}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li data-menu-collapse>
                <a href="#"><i class="fa fa-lg fa-fw fa-bar-chart"></i> <span class="menu-item-parent">{{getWord('Operational Data')}}</span></a>
                <ul>
                    <li data-menu-collapse>
                        <a href="#"><i class="fa fa-lg fa-fw fa-external-link-square"></i> {{getWord('Deal maintenance')}}</a>
                        <ul>
                            <li data-ui-sref-active="active">
                                <a data-ui-sref="app.OperationData.Dealmaintenance.Dealmaintenance"><i class="fa fa-leaf"></i> {{getWord('Deal maintenance')}}</a>
                            </li>
                        </ul>
                    </li>
                    <li data-menu-collapse>
                        <a href="#"><i class="fa fa-lg fa-fw fa-external-link-square"></i> {{getWord('Biz data maintenance')}}</a>
                        <ul>
                            <li data-ui-sref-active="active">
                                <a data-ui-sref="app.OperationData.Bizdatamaintenance.CAmaintenance"><i class="fa fa-leaf"></i> {{getWord('CA maintenance')}}</a>
                            </li>
                            <li data-ui-sref-active="active">
                                <a data-ui-sref="app.OperationData.Bizdatamaintenance.Markupmaintenance"><i class="fa fa-leaf"></i> {{getWord('Markup maintenance')}}</a>
                            </li>
                            <li data-ui-sref-active="active">
                                <a data-ui-sref="app.OperationData.Bizdatamaintenance.CycleQtQ"><i class="fa fa-leaf"></i> {{getWord('Cycle QtQ')}}</a>
                            </li>
                            <li data-ui-sref-active="active">
                                <a data-ui-sref="app.OperationData.Bizdatamaintenance.ConsumptionBasemaintenance"><i class="fa fa-leaf"></i> {{getWord('Consumption Base...')}}</a>
                            </li>
                            <li data-ui-sref-active="active">
                                <a data-ui-sref="app.OperationData.Bizdatamaintenance.Othercategorymaintenance"><i class="fa fa-leaf"></i> {{getWord('Other category main...')}}</a>
                            </li>
                            <li data-ui-sref-active="active">
                                <a data-ui-sref="app.OperationData.Bizdatamaintenance.Alliancefundmaintenance"><i class="fa fa-leaf"></i> {{getWord('Alliance fund main...')}}</a>
                            </li>
                            <li data-ui-sref-active="active">
                                <a data-ui-sref="app.OperationData.Bizdatamaintenance.QTQPNtakedown"><i class="fa fa-leaf"></i> {{getWord('QTQ PN take down')}}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li data-menu-collapse>
                <a href="#"><i class="fa fa-lg fa-fw fa-pencil-square-o"></i> <span class="menu-item-parent">{{getWord('Validation')}}</span></a>
                <ul>
                    <li data-menu-collapse>
                        <a href="#"><i class="fa fa-lg fa-fw fa-external-link-square"></i> {{getWord('Validation')}}</a>
                        <ul>
                            <li data-ui-sref-active="active">
                                <a data-ui-sref="app.Validation.Validation.CAAccumulation"><i class="fa fa-leaf"></i> {{getWord('CA Accumulation')}}</a>
                            </li>
                            <li data-ui-sref-active="active">
                                <a data-ui-sref="app.Validation.Validation.MarkupAccumulation"><i class="fa fa-leaf"></i> {{getWord('Markup Accumulation')}}</a>
                            </li>
                            <li data-ui-sref-active="active">
                                <a data-ui-sref="app.Validation.Validation.CycleQtQAccumulation"><i class="fa fa-leaf"></i> {{getWord('Cycle QtQ Accumula...')}}</a>
                            </li>
                            <li data-ui-sref-active="active">
                                <a data-ui-sref="app.Validation.Validation.ConsumptionbaseAccumulation-detail"><i class="fa fa-leaf"></i> {{getWord('Consumption base...')}}</a>
                            </li>
                            <li data-ui-sref-active="active">
                                <a data-ui-sref="app.Validation.Validation.OthercategoryAccumulation"><i class="fa fa-leaf"></i> {{getWord('Other category A...')}}</a>
                            </li>
                            <li data-ui-sref-active="active">
                                <a data-ui-sref="app.Validation.Validation.AlliancefundAccumulation"><i class="fa fa-leaf"></i> {{getWord('Alliance fund Accumu...')}}</a>
                            </li>
                            <li data-ui-sref-active="active">
                                <a data-ui-sref="app.Validation.Validation.QTQPNtakedownAccumulation"><i class="fa fa-leaf"></i> {{getWord('QTQ PN take down...')}}</a>
                            </li>
                            <li data-ui-sref-active="active">
                                <a data-ui-sref="app.Validation.Validation.Outtapedetail"><i class="fa fa-leaf"></i> {{getWord('Out tape detail')}}</a>
                            </li>
                            <li data-ui-sref-active="active">
                                <a data-ui-sref="app.Validation.Validation.ResultcheckingbyMTM"><i class="fa fa-leaf"></i> {{getWord('Result checking by...')}}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li data-menu-collapse>
                <a href="#">
                    <i class="fa fa-lg fa-fw fa-th"></i> <span class="menu-item-parent">{{getWord('Report')}}</span></a>
                <ul>
                    <li data-menu-collapse>
                        <a href="#"><i class="fa fa-lg fa-fw fa-external-link-square"></i> {{getWord('Report')}}</a>
                        <ul>
                            <li data-ui-sref-active="active">
                                <a data-ui-sref="app.Report.InOutSummaryQtQ">
                                    <i class="fa fa-leaf"></i> {{getWord('In+Out Summary QtQ')}}</a>
                            </li>
                            <li data-ui-sref-active="active">
                                <a data-ui-sref="app.Report.OuttapeSummary">
                                    <i class="fa fa-leaf"></i> {{getWord('Out tape Summary')}}</a>
                            </li>
                            <li data-ui-sref-active="active">
                                <a data-ui-sref="app.Report.OuttapeBUSummary">
                                    <i class="fa fa-leaf"></i> {{getWord('Out tape BU Summary')}}</a>
                            </li>
                            <li data-ui-sref-active="active">
                                <a data-ui-sref="app.Report.QTQPNtakedown">
                                    <i class="fa fa-leaf"></i> {{getWord('QTQ PN take down')}}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <!--smartadmin的ui-->

        </ul>

        <!-- NOTE: This allows you to pull menu items from server -->
        <!-- <ul data-smart-menu-items="/api/menu-items.json"></ul> -->
    </nav>

  <span class="minifyme" data-action="minifyMenu" minify-menu>
    <i class="fa fa-arrow-circle-left hit"></i>
  </span>

</aside>