<aside id="left-panel">

    <!-- User info -->
    <div login-info></div>
    <!-- end user info -->

    <nav>
        <!-- NOTE: Notice the gaps after each icon usage <i></i>..
        Please note that these links work a bit different than
        traditional href="" links. See documentation for details.
        -->

        <ul data-smart-menu>
            <!--自己-->
            <li data-menu-collapse>
                <a href="#" title="Control Point"><i class="fa fa-lg fa-fw fa-desktop"></i> <span
                        class="menu-item-parent">{{getWord('Control Point')}}</span></a>
                <ul>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.ControlPoint.Costinterlockschedule">{{getWord('Cost interlock schedule')}}</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.ControlPoint.CycleVersioncontrol">{{getWord('Cycle & Version control')}}</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.ControlPoint.Taskqueue">{{getWord('Task queue')}}</a>
                    </li>
                </ul>
            </li>

            <li data-menu-collapse>
                <a href="#"><i class="fa fa-lg fa-fw fa-cube"></i> <span class="menu-item-parent">{{getWord('Basic data')}}</span></a>
                <ul>
                    <li data-menu-collapse>
                        <a href="#">{{getWord('Master data maintenance')}}</a>
                        <ul>
                            <li data-ui-sref-active="active">
                                <a data-ui-sref="app.Basicdata.Masterdatamaintenance.Segmentmaintenance">{{getWord('Segment maintenance')}}</a>
                            </li>
                            <li data-ui-sref-active="active">
                                <a data-ui-sref="app.Basicdata.Masterdatamaintenance.BUmaintenance">
                                    {{getWord('BU maintenance')}}</a>
                            </li>
                            <li data-ui-sref-active="active">
                                <a data-ui-sref="app.Basicdata.Masterdatamaintenance.Commoditymaintenance">
                                    {{getWord('Commodity maintena...')}}</a>
                            </li>
                            <li data-ui-sref-active="active">
                                <a data-ui-sref="app.Basicdata.Masterdatamaintenance.OtherCategorymasterdata"> {{getWord('Other category maste...')}}</a>
                            </li>
                            <li data-ui-sref-active="active">
                                <a data-ui-sref="app.Basicdata.Masterdatamaintenance.DataMapping"> {{getWord('Data Mapping')}}</a>
                            </li>
                        </ul>
                    </li>
                    <li data-menu-collapse>
                        <a href="#">{{getWord('Data source detail')}}</a>
                        <ul>
                            <li data-ui-sref-active="active">
                                <a data-ui-sref="app.Basicdata.DatasourceDetail.Markupdetail">{{getWord('Markup detail')}}</a>
                            </li>
                            <li data-ui-sref-active="active">
                                <a data-ui-sref="app.Basicdata.DatasourceDetail.EBRQtydetail">
                                    {{getWord('EBR/宇宙版 Qty detail')}}</a>
                            </li>
                            <li data-ui-sref-active="active">
                                <a data-ui-sref="app.Basicdata.DatasourceDetail.CFEBMCdetail"> {{getWord('CFE BMC detail')}}</a>
                            </li>
                            <li data-ui-sref-active="active">
                                <a data-ui-sref="app.Basicdata.DatasourceDetail.BPCCAdetail">
                                    {{getWord('BPC CA detail')}}</a>
                            </li>
                            <li data-ui-sref-active="active">
                                <a data-ui-sref="app.Basicdata.DatasourceDetail.BPCBMCForecastdetail"> {{getWord('BPC BMC Forecast detail')}}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li data-menu-collapse>
                <a href="#"><i class="fa fa-lg fa-fw fa-bar-chart"></i> <span class="menu-item-parent">{{getWord('Operational Data')}}</span></a>
                <ul>
                    <li data-menu-collapse>
                        <a href="#">{{getWord('Deal maintenance')}}</a>
                        <ul>
                            <li data-ui-sref-active="active">
                                <a data-ui-sref="app.OperationData.Dealmaintenance.Dealmaintenance">{{getWord('Deal maintenance')}}</a>
                            </li>
                        </ul>
                    </li>
                    <li data-menu-collapse>
                        <a href="#">{{getWord('Biz data maintenance')}}</a>
                        <ul>
                            <li data-ui-sref-active="active">
                                <a data-ui-sref="app.OperationData.Bizdatamaintenance.CAmaintenance">{{getWord('CA maintenance')}}</a>
                            </li>
                            <li data-ui-sref-active="active">
                                <a data-ui-sref="app.OperationData.Bizdatamaintenance.Markupmaintenance">{{getWord('Markup maintenance')}}</a>
                            </li>
                            <li data-ui-sref-active="active">
                                <a data-ui-sref="app.OperationData.Bizdatamaintenance.CycleQtQ">{{getWord('Cycle QtQ')}}</a>
                            </li>
                            <li data-ui-sref-active="active">
                                <a data-ui-sref="app.OperationData.Bizdatamaintenance.ConsumptionBasemaintenance">{{getWord('Consumption Base...')}}</a>
                            </li>
                            <li data-ui-sref-active="active">
                                <a data-ui-sref="app.OperationData.Bizdatamaintenance.Othercategorymaintenance">{{getWord('Other category main...')}}</a>
                            </li>
                            <li data-ui-sref-active="active">
                                <a data-ui-sref="app.OperationData.Bizdatamaintenance.Alliancefundmaintenance">{{getWord('Alliance fund main...')}}</a>
                            </li>
                            <li data-ui-sref-active="active">
                                <a data-ui-sref="app.OperationData.Bizdatamaintenance.QTQPNtakedown">{{getWord('QTQ PN take down')}}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li data-menu-collapse>
                <a href="#"><i class="fa fa-lg fa-fw fa-pencil-square-o"></i> <span class="menu-item-parent">{{getWord('Validation')}}</span></a>
                <ul>
                    <li data-menu-collapse>
                        <a href="#">{{getWord('Validation')}}</a>
                        <ul>
                            <li data-ui-sref-active="active">
                                <a data-ui-sref="app.Validation.Validation.CAAccumulation">{{getWord('CA Accumulation')}}</a>
                            </li>
                            <li data-ui-sref-active="active">
                                <a data-ui-sref="app.Validation.Validation.MarkupAccumulation">{{getWord('Markup Accumulation')}}</a>
                            </li>
                            <li data-ui-sref-active="active">
                                <a data-ui-sref="app.Validation.Validation.CycleQtQAccumulation">{{getWord('Cycle QtQ Accumula...')}}</a>
                            </li>
                            <li data-ui-sref-active="active">
                                <a data-ui-sref="app.Validation.Validation.ConsumptionbaseAccumulation-detail">{{getWord('Consumption base...')}}</a>
                            </li>
                            <li data-ui-sref-active="active">
                                <a data-ui-sref="app.Validation.Validation.OthercategoryAccumulation">{{getWord('Other category A...')}}</a>
                            </li>
                            <li data-ui-sref-active="active">
                                <a data-ui-sref="app.Validation.Validation.AlliancefundAccumulation">{{getWord('Alliance fund Accumu...')}}</a>
                            </li>
                            <li data-ui-sref-active="active">
                                <a data-ui-sref="app.Validation.Validation.QTQPNtakedownAccumulation">{{getWord('QTQ PN take down...')}}</a>
                            </li>
                            <li data-ui-sref-active="active">
                                <a data-ui-sref="app.Validation.Validation.Outtapedetail">{{getWord('Out tape detail')}}</a>
                            </li>
                            <li data-ui-sref-active="active">
                                <a data-ui-sref="app.Validation.Validation.ResultcheckingbyMTM">{{getWord('Result checking by...')}}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li data-menu-collapse>
                <a href="#">
                    <i class="fa fa-lg fa-fw fa-th"></i> <span class="menu-item-parent">{{getWord('Report')}}</span></a>
                <ul>
                    <li data-menu-collapse>
                        <a href="#"> {{getWord('Report')}}</a>
                        <ul>
                            <li data-ui-sref-active="active">
                                <a data-ui-sref="app.Report.InOutSummaryQtQ">
                                    {{getWord('In+Out Summary QtQ')}}</a>
                            </li>
                            <li data-ui-sref-active="active">
                                <a data-ui-sref="app.Report.OuttapeSummary">
                                    {{getWord('Out tape Summary')}}</a>
                            </li>
                            <li data-ui-sref-active="active">
                                <a data-ui-sref="app.Report.OuttapeBUSummary">
                                    {{getWord('Out tape BU Summary')}}</a>
                            </li>
                            <li data-ui-sref-active="active">
                                <a data-ui-sref="app.Report.QTQPNtakedown">
                                    {{getWord('QTQ PN take down')}}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <!--smartadmin的ui-->

        </ul>

        <!-- NOTE: This allows you to pull menu items from server -->
        <!-- <ul data-smart-menu-items="/api/menu-items.json"></ul> -->
    </nav>

  <span class="minifyme" data-action="minifyMenu" minify-menu>
    <i class="fa fa-arrow-circle-left hit"></i>
  </span>

</aside>