.header-dropdown-list{
 display: none;
}
/*尾部*/
.page-footer{
    display: none;
}
/*头部*/
#header{
    height: 56px;
}
.btn-header>:first-child>a{
    line-height: 32px;
}
/*右边的设置*/
/*#demo-setting{*/
    /*display: none;*/
/*}*/

/* nav 去除 下边框 */

.nav-tabs.bordered+.tab-content {
    border: none;
}

/* 背景为 灰色 */

.gray {
    background: #F3F5F6;
    font-weight: 700;
    font-size: 12px;
    color: #333;
}

/* 下边框为黑色 */

.operadata-btm {
    border-bottom: 2px solid #ddd;
}

.operdata-negative {
    color: red;
}

.tab1-width {
    width: 200px;
}

article {
    margin-bottom: 60px;
}

.tab-demo tr {
    height: 30px;
}

.jarviswidget .tab-fun-btn2 {
    padding: 10px;
}

.jarviswidget {}

.jarviswidget .operadata-tab {
    /*width: 1309px;*/
    min-width: 1300px;
    width: 100%;
    border: 1px solid #ccc;
    padding-bottom: 10px;
}

.operadata-tab table {
    text-align: center;
    line-height: 32px;
    font-family: "Open Sans", Arial, Helvetica, Sans-Serif;
    /*table-layout: fixed;*/
}

.operadata-left>td:nth-child(1) {
    text-align: left;
    padding-left: 10px;
}

.operadata-tab1 {
    width: 100%;
    /* border: none; */
    table-layout: fixed;
    border-collapse: collapse;
    text-align: center;
    overflow-x: scroll;
    margin-top: 6px;
    margin-bottom: 10px;
    line-height: 32px;
    border: 1px solid #ddd;
}

.operadata-tab1-width {
    width: 300px;
}

.operadata-tab1-width1 {
    width: 160px;
    border-right: 1px solid #ddd;
}

.operadata-tab1 table {
    text-align: center;
    line-height: 32px;
}

.operadata-tab1-left {
    width: 160px;
}

.operadata-tab1-box1 {
    overflow-x: scroll;
}

.operadata-tab1-right {
    width: 2000px;
    table-layout: fixed;
}

.operadata-tab1-first {
    width: 160px;
}

.operadata-tab1-right td {
    border: 1px solid rgb(221, 221, 221);
    line-height: 32px;
}

.operadata-tab2 {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    text-align: center;
    overflow-x: scroll;
    margin-top: 6px;
    line-height: 32px;
    border: 1px solid #ddd;
}

.operadata-tab2 table {
    text-align: center;
    line-height: 32px;
}

.operadata-tab2-left {
    width: 100%;
    table-layout: fixed;
}

.operadata-tab2-box1 {
    overflow-x: scroll;
    margin-left: 6px;
}

.operadata-tab2-right {
    width: 2000px;
    table-layout: fixed;
}

.operadata-tab2-right td, .operadata-tab2-box-jin2 table td {
    border: 1px solid rgb(221, 221, 221);
    line-height: 32px;
}

.operadata-tab2-box-jin1 table {
    width: 160px;
}

.operadata-tab2-box-jin2 table {
    width: 100%;
}

.operadata-tab2-box {
    height: 380px;
}

.operadata-tab3 {
    table-layout: fixed;
}

.operadata-tab3 table {
    text-align: center;
    line-height: 30px !important;
}

.operadata-tab3 table tr {
    height: 30px !important;
}
.table-camain{
    line-height: 30px;
    text-align: center;
    font-size: 13px;
}
.no-padding>.table-camain tbody tr td:last-child {
    background: #F3F5F6;
    font-weight: 700;
    font-size: 12px;
    color: #333 !important;
}
.no-padding>.table-bordered tbody tr:last-child td, .no-padding>.table-responsive>.table-bordered tbody tr:last-child td{
    background: #F3F5F6;
    font-weight: 700;
    font-size: 12px;
    color: #333;
}

.totbottom .Ftbody tr:last-child,.totbottom .Ftbody tr:last-child th:first-child{
    background: #F3F5F6 !important;
    font-weight: 700;
    font-size: 12px;
    color: #333;
}
.jarviswidget>#cacontent{
    border: 1px solid #ddd;
    border-top: 0px !important;
}
#camainprcTab thead tr td:nth-child(2){
    width: 160px;
}

.dataTables_scroll .dataTables_scrollHeadInner{
    width: 100% !important;
}
.dataTables_scroll .dataTables_scrollHeadInner table{
    width: 100% !important;
}
#camainprcTab tbody tr td:last-child{
    font-weight: 700;
    font-size: 12px;
    color: #333;
}
/* report 第二模块 */
/* 公用样式 */
.operadata-left1 {
    text-align: left;
    padding-left: 0px;
    font-weight: 600;
    background: #F3F5F6;
}

.operadata-left2 {
    text-align: left;
    padding-left: 25px;
    font-weight: 400;
    background: white;
}

.summary-tab {
    border: none !important;
}

.summary-tab-bor {
    display: block;
    margin-top: 20px;
}

.summary-tab-left1 {
    width: 160px;
}

.summary-tab-left2 {
    width: 300px;
}
.summary-tab-width1{
    width: 460px;
}
.report-summary-border{
    border-collapse: separate !important;
    border-spacing: 0 20px;
}

#cacontent .sticky-col {
				width: 237px;
			}
			.caleft{
				text-align: left;
				background: #fff !important;
				font-weight: 400;
			}
			#cacontent .sticky-thead{
				display: none;
			}
			#cacontent .sticky-wrap .Ftbody tr td{
				min-width: 50px;
			}
			#cacontent .sticky-wrap th{
				min-width: 118px;
			}

/* 公用 end */
/*report 第二部分的内容*/
.summary {
    width: 100% !important;
    /* height: 500px; */
    overflow-x: scroll !important;
}

.summary .summary-report {
    width: 3800px;
    /*overflow-x: scroll;*/
    table-layout: fixed;
    border-collapse: collapse;
    text-align: center;
}
.summary .summary-report tr td table tr{
    border: 1px solid #ddd;
}
.summary .summary-report tr td {
    line-height: 30px;
    /*border-collapse: collapse;*/
    /*table-layout: fixed;*/
    word-break: break-all;
    border: 1px solid #ddd;
}
/*report 第二部分 左边固定的*/
.summary-report-left{
    /*border: 1px solid #ddd;*/
    width: 461px;
    text-align: center;
    background:#fff;
    position: absolute;
    top: 0;
    left: 0;
}
.summary .summary-report-left tr td {
    line-height: 30px;
    word-break: break-all;
    border: 1px solid #ddd;
}

.operadata-segment-con{
    border: none !important;
    border-top: 1px solid #fff !important;
}
.operadata-tab2-bord{
    border-top: 0.02px solid #fff;
    border-left: 0.02px solid #fff;
    /* border-right: 0.02px solid #fff; */
}
.operadata-tab2-box-jin2{
    border-right: 0px solid #fff;
}

#outtContent th,#outtContent td{
    font-family: "Open Sans",Arial,Helvetica,Sans-Serif;
    font-size: 12px;
    color: #333;
}
#outtContent .sticky-col{
    width: 277px;
}
/*#outtContent .overflow-both1 thead tr:nth-child(1) th{*/
    /*min-width: 410px;*/
/*}*/
/*.overflow-both1 .sticky-col{*/
    /*width:382px !important;*/
    /*/!*min-width: 381px;*!/*/
/*}*/
/*#outtContent .sticky-thead table thead tr:nth-child(1) th{*/
    /*min-width:410px;*/
/*}*/
.overflow-both1 thead {
    background: #F3F5F6;
}
.overflow-both1 tbody tr td{
    border: 1px solid #ddd;text-align: center;
}

.outtapebu .sticky-col{
    width: 140px;
}
.outtapebu .sticky-thead{
    display: none;.
}
.outtapebu #bufinal .sticky-wrap{
    max-height: 100%;
}




