.sticky-wrap {
	overflow-x: auto;
	overflow-y: hidden;
	position: relative;
	width: 100%;
}
.sticky-wrap div[class^='sticky'] {
	overflow: hidden;
}
.sticky-wrap tfoot {
	display: none;
}
.sticky-wrap div table {
	margin: 0;
	position: relative;
	width: auto; /* Prevent table from stretching to full size */
}

	.sticky-col{
		position: fixed;
    left: 0px;
    top: 48px;
    height: 441px;
    width: 416px;
    opacity: 0;
    pointer-events: none;
	}
	.sticky-col thead tr:last-child(3){
		height: 0 !important;
	}
	.sticky-wrap .sticky-thead {
	
		z-index: 100;
		/*width: 100%;*/ /* Force stretch */
	}

		.sticky-intersect{
			    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0px;
    left: 0px;
		}
.sticky-wrap td,
.sticky-wrap th {
	box-sizing: border-box;
	min-width: 138px;
	height: 30px;
}

.sticky-wrap thead th {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
.sticky-enabled {
	margin: 0;
	width: 100%;
}

/* Sort handlers */
.sticky-wrap.sortable thead {
	cursor: pointer;
}
.sticky-wrap.sortable thead th {
	padding-right: 3em;
	position: relative;

}


/* To hide sticky column and intersect when screen gets too narrow */
@media only screen and (max-width: 768px) {
	html {
		font-size: 14px;
	}
	header,
	#final .sticky-wrap {
		max-height: 25rem;
	}
	/*.sticky-col, .sticky-intersect {
		display: none;
	}*/
}


