.yangtab-content{
    margin-top: 5px;
}

#demoTable td,#demoTable th{
    text-align: center;
    height:25px;
    min-width:100px;
    font-family:"Helvetica Neue", "Microsoft Yahei", Arial, sans-serif;
    font-size:12px;
}
#demoTable th{
    background: #F3F5F6;
    border: 1px solid rgb(221, 221, 221);
}
@media screen and (min-width: 1500px) {
    #demoTable td,#demoTable th{
        /*height:30px;*/
        /*width:10%;*/

    }
}


#demoTable td{
    background:#fff;
    text-align: center;
    border: 1px solid rgb(221, 221, 221);
}

.fakeContainer {
    margin: 5px 20px 20px 20px;
    border: none;
    overflow: hidden;
}
.my_width{
    /*width:100%;*/
    overflow:hidden;
    padding:0 20px;
}
.first_div{
    display:block;
    margin:0 auto;
}
/*表格上方查询等功能的样式*/
.radius{
    border-radius:8px;
}
#widget-grid .tab-fun-btn {
    padding: 10px 0 5px 10px;
}
#widget-grid .tab-fun-btn button {
    width: 35px;
    height: 27px;
    font-size: 14px;
    color: #fff;
    background-color: #3276b1;
    border-color: #2c699d;
    margin-right: 5px;


}
 .mup-tabbtn {
    background: #fff;
    padding: 15px 10px 10px 10px;
    border: 1px solid #ddd;
    overflow: hidden;
}

 /* 三维表格新样式*/


#other_content{
    /*width: 1200px*/
    padding: 0;
}
#final .sticky-wrap {
    overflow-x: auto;
    overflow-y: auto;
    max-height: 90vh;
}
#final .toggle {
    background-color: #004B80;
}

/* Media queries, unrelated to functionality of StickySort */
@media only screen and (max-width: 768px) {
    html {
        font-size: 12px;
    }
    header,
    #final .sticky-wrap {
        max-height: 25rem;
    }
}
main section {
    /*border-bottom:1px solid #ccc;*/

}

/* Tables */
#other_content .overflow-both {
    border-collapse: collapse;
    width: 100%;
    background: #fff;
}
.overflow-both td, th {
    padding: 0.25rem 0.75rem;
    text-align: center;
    border: 1px solid rgb(221, 221, 221);
}
.overflow-both th {
    background-color: #F3F5F6;
    /* border:1px solid #fff;*/

}

.overflow-both thead a {
    border: none;
}