.yangtab-content{
    margin-top: 5px;
}

#other_content td,#other_content th,#outcontent td,#outcontent th,#ouButcontent td,#ouButcontent th{
    text-align: center;
    font-family: "Open Sans",Arial,Helvetica,Sans-Serif;
    font-size:12px;
    color: #333;
}
#other_content .jarviswidget{
    margin-bottom: 0;
}
#demoTable th{
    background: #F3F5F6;
    border: 1px solid rgb(221, 221, 221);
}
@media screen and (min-width: 1500px) {
    #demoTable td,#demoTable th{
        /*height:30px;*/
        /*width:10%;*/

    }
}


#demoTable td{
    background:#fff;
    text-align: center;
    border: 1px solid rgb(221, 221, 221);
}

.fakeContainer {
    margin: 5px 20px 20px 20px;
    border: none;
    overflow: hidden;
}
.my_width{
    /*width:100%;*/
    overflow:hidden;
    padding:0 20px;
}
.first_div{
    display:block;
    margin:0 auto;
}
/*表格上方查询等功能的样式*/
.radius{
    border-radius:8px;
}
#widget-grid .tab-fun-btn {
    padding: 10px 0 5px 10px;
}
#widget-grid .tab-fun-btn button {
    width: 35px;
    height: 27px;
    font-size: 14px;
    color: #fff;
    background-color: #3276b1;
    border-color: #2c699d;
    margin-right: 5px;


}
.mup-tabbtn {
    background: #fff;
    padding: 15px 10px 10px 10px;
    border: 1px solid #ddd;
    overflow: hidden;
}

/* 三维表格新样式*/


#other_content{
    /*width: 1200px*/
    padding: 0;
}
#final .sticky-wrap {
    overflow-x: auto;
    overflow-y: auto;
    max-height: 90vh;
}
#bufinal .sticky-wrap {
    overflow-x: auto;
    /*overflow-y: auto;*/
    max-height: 68vh;
}
#final .toggle {
    background-color: #004B80;
}

/* Media queries, unrelated to functionality of StickySort */
@media only screen and (max-width: 768px) {
    html {
        font-size: 12px;
    }
    header,
    #final .sticky-wrap {
        max-height: 25rem;
    }
}
main section {
    /*border-bottom:1px solid #ccc;*/

}

/* Tables */
#other_content .overflow-both {
    border-collapse: collapse;
    width: 100%;
    background: #fff;
}
.overflow-both td, th {
    padding: 0.25rem 0.75rem;
    text-align: center;
    border: 1px solid rgb(221, 221, 221);
}
.overflow-both th {
    background-color: #F3F5F6;
    /* border:1px solid #fff;*/

}

.overflow-both thead a {
    border: none;
}

/*out大表样式*/

/*#tapefinal .tapetbody tr:nth-child(5) th{*/
/*background: #FFFFFF;*/
/*border-right: 0;*/
/*}*/
/*#tapefinal .tapetbody tr:nth-child(13) th{*/
/*background: #FFFFFF;*/
/*border-right: 0;*/
/*}*/
#outtContent .tapetbody th{
    background: #F3F5F6;
}
#outcontent table .Ftbody tr th:nth-child(2){
    background: #FFFFFF;
    font-weight: 400;
    text-align: left;
}
#outcontent table .Ftbody tr:nth-child(2) th:nth-child(1){
    background: #FFFFFF;
    font-weight: 400;
    text-align: left;
}
#outcontent table .Ftbody tr:nth-child(3) th:nth-child(1){
    background: #FFFFFF;
    font-weight: 400;
    text-align: left;
}
#outcontent table .Ftbody tr:nth-child(4) th:nth-child(1){
    background: #FFFFFF;
    font-weight: 400;
    text-align: left;
}
#outcontent table .Ftbody tr:nth-child(5) th:nth-child(1){
    background: #FFFFFF;
    font-weight: 400;
    text-align: left;
}
#outcontent table .Ftbody tr:nth-child(6) td{
    font-weight: 700;
}


/*Markup 样式*/

thead.mark-hearder tr td{
    color: #333;
}
tbody.tb-class tr:nth-child(4) td{
    color: #333 !important;
    font-weight: 100 !important;
}
tfoot.tf-class tr td{
    color: #333 !important;
}

.relate-class .table-striped>tbody>tr:nth-of-type(odd){
    background: #FFFFFF !important;
}

.relate-class tbody tr:nth-child(2) td{
    background: #f9f9f9 !important;
}
.relate-class tbody tr td:last-child{
    background: #f9f9f9 !important;
    font-weight: 700;
    color: #333;
}

.relate-class .table>tbody+tbody{
    border-top: 0!important;
}