<!-- MAIN CONTENT -->
<div id="content">

    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <span>BPC BMC Forecast detail</span>
            </h1>
        </div>
        <!-- <big-breadcrumbs items="['Cost interlock schedule']" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs> -->
        <!-- <div smart-include="app/layout/partials/sub-header.tpl.html"></div> -->
    </div>
    <!-- widget grid -->
    <section id="widget-grid" widget-grid>

        <!-- row -->

        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">

            </article>
        </div>

        <!-- end row -->

    </section>
    <!-- end widget grid -->

</div>
<!-- END MAIN CONTENT -->
