<!-- MAIN CONTENT -->
<div id="content">
    <div class="row">
        <big-breadcrumbs items="['Basic data', 'Commodity Maintenance']" icon="table"
                         class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
        <!-- <div smart-include="app/layout/partials/sub-header.tpl.html"></div> -->
    </div>

    <!-- widget grid -->

    <section id="widget-grid" data-widget-grid>
            <!-- NEW WIDGET START -->
            <article class="col-sm-12">
                <div jarvis-widget id="no-padding-table-widget" data-widget-color="Light Blue"
                    data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
                   <header>
                       <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                       <h2>Search</h2>
                   </header>
                   <div class="tab-serch">
                       <div class="col-sm-8">
                           <div class="col-sm-5 form-group-m">
                               <label>Commodity name:</label>
                               <div class="for-sel">
                                   <select class="form-control">
                                        <option value="">CPU</option>
                                        <option value="">DT Platform</option>
                                        <option value="">Memory</option>
                                        <option value="">ALL</option>
                                   </select>
                               </div>
                           </div>
                            <div class="col-sm-5 form-group-m">
                                    <label>Sub Commodity name:</label>
                                    <div class="for-sel">
                                        <select class="form-control">
                                            <option value="">Intel</option>
                                            <option value="">AMD</option>
                                        </select>
                                    </div>
                            </div>
                       </div>
                       <div class="col-sm-2 pull-right tab-serch-btn">
                           <button class="btn btn-primary searchbtn">Search</button>
                       </div>
                   </div>
               </div>

               <div jarvis-widget>
                    <div>
                        <div class="widget-body no-padding">
                            <div class="table-responsive table-border-tb">
                                <table class="table table-bordered table-striped smart-form has-tickbox table-hover">
                                    <thead class="table-thead">
                                    <tr>
                                        <td style="width:19px;">
                                            <label class="checkbox">
                                                <input type="checkbox" name="checkbox-inline">
                                                <i></i>
                                            </label>
                                        </td>
                                        <td>BG</td>
                                        <td>Commodity name</td>
                                        <td>Sub commodity name</td>
                                        <td>Description</td>
                                        <td>Last Modified By</td>
                                        <td>Last Modified Date</td>
                                        <td>Status</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <label class="checkbox">
                                                <input type="checkbox" name="checkbox-inline">
                                                <i></i>
                                            </label>
                                        </td>
                                        <td>PCG</td>
                                        <td>CPU</td>
                                        <td>Intel</td>
                                        <td>Intel CPU</td>
                                        <td>Youmin</td>
                                        <td>2018/6/12</td>
                                        <td>Saved</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="checkbox">
                                                <input type="checkbox" name="checkbox-inline">
                                                <i></i>
                                            </label>
                                        </td>
                                        <td>PCG</td>
                                        <td>CPU</td>
                                        <td>AMD</td>
                                        <td>AMD CPU</td>
                                        <td>Youmin</td>
                                        <td>2018/6/21</td>
                                        <td>Saved</td>
                                    </tr>
                                    <tr>
                                            <td>
                                                <label class="checkbox">
                                                    <input type="checkbox" name="checkbox-inline">
                                                    <i></i>
                                                </label>
                                            </td>
                                            <td>PCG</td>
                                            <td>DT Platform</td>
                                            <td>DT&WS Proc</td>
                                            <td>DT&WS Proc</td>
                                            <td>Youmin</td>
                                            <td>2018/6/23</td>
                                            <td>Saved</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="col-sm-4 tab-fun-btn">
                                    <button class="btn btn-xs" uib-tooltip="Download Template" tooltip-append-to-body="true"><i class="fa fa-download" ></i></button>
                                    <button class="btn btn-xs" uib-tooltip="Upload" tooltip-append-to-body="true"><i class="fa fa-upload"></i></button>
                                    <button class="btn btn-xs" uib-tooltip="Save" tooltip-append-to-body="true"><i class="fa fa-save"></i></button>
                                    <button class="btn btn-xs" uib-tooltip="Delete" tooltip-append-to-body="true" ng-click="del()"><i class="fa fa-trash-o"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <!-- WIDGET END -->

    </section>

    <!-- end widget grid -->

</div>
