<!-- MAIN CONTENT -->
<div id="content">
    <div class="row">
        <big-breadcrumbs items="['Basic data', 'Segment maintenance']" icon="table"
                         class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
    </div>
    <!-- widget grid -->
    <section widget-grid id="widget-grid">
        <article class="col-sm-12">
            <div jarvis-widget id="no-padding-table-widget" data-widget-color="darken"
                 data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
                <header>
                    <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                    <h2>Search</h2>
                </header>
                <div class="tab-serch">
                    <div class="col-sm-8">
                        <div class="col-sm-6 form-group-m">
                            <label>Segment:</label>
                            <div class="for-sel">
                                <select class="form-control" ng-model="SegmentSel">
                                    <option value="Consumer">Consumer</option>
                                    <option value="Commerical">Commerical</option>
                                    <option value="SMB">SMB</option>
                                    <option value="All">All</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 tab-serch-btn">
                        <button class="btn btn-primary searchbtn" ng-click="goPage()">Search</button>
                    </div>
                </div>
            </div>

            <div jarvis-widget>
                <div>
                    <div class="widget-body no-padding">
                        <div class="table-responsive table-border-tb">
                            <table class="table table-bordered table-striped smart-form has-tickbox table-hover">
                                <thead class="table-thead">
                                <tr>
                                    <td style="width:19px;">
                                        <label class="checkbox">
                                            <input type="checkbox" name="checkbox-inline"  ng-checked="isCheckedAll"  ng-click="All(isCheckedAll)">
                                            <i></i>
                                        </label>
                                    </td>
                                    <td>BG</td>
                                    <td>WW/PRC</td>
                                    <td>Segment Name</td>
                                    <td>Description</td>
                                    <td>Last Modified By</td>
                                    <td>Last Modified Date</td>
                                    <td>Status</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="page in pageList">
                                    <td>
                                        <label class="checkbox">
                                            <input type="checkbox" name="checkbox-inline" ng-checked="page.isChecked" ng-click="One(page)">
                                            <i></i>
                                        </label>
                                    </td>
                                    <td>{{page.bg}}</td>
                                    <td>{{page.ww_prc}}</td>
                                    <td>{{page.segment_name}}</td>
                                    <td>{{page.description}}</td>
                                    <td>{{page.last_modified_by}}</td>
                                    <td>{{page.last_modified_date}}</td>
                                    <td>{{page.status}}</td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="col-sm-4 tab-fun-btn">
                                <button class="btn btn-xs" uib-tooltip="Download Template" tooltip-append-to-body="true" ng-click="downLoad()"><i class="fa fa-download" ></i></button>
                                <button class="btn btn-xs" uib-tooltip="Upload" tooltip-append-to-body="true" ng-click="openUpload()"><i class="fa fa-upload"></i></button>
                                <!--<button class="btn btn-xs" uib-tooltip="Save" tooltip-append-to-body="true"><i class="fa fa-save"></i></button>-->
                                <button class="btn btn-xs" uib-tooltip="Delete" tooltip-append-to-body="true" ng-click="del()"><i class="fa fa-trash-o"></i></button>
                            </div>
                            <div class="col-sm-8">
                                <div class="table-pagination">
                                    <!--<div class="M-box"></div>-->
                                    <!--<ul class="pagination">
                                        <li class="disabled">
                                            <a href="javascript:void(0)" class="previous">Previous</a></li>
                                        <li></li>
                                        <li class="active"><a href="javascript:void(0)">1</a></li>
                                        <li><a href="javascript:void(0)">2</a></li>
                                        <li><a href="javascript:void(0)">3</a></li>
                                        <li><a href="javascript:void(0)">4</a></li>
                                        <li><a href="javascript:void(0)">5</a></li>
                                        <li class="disabled"><a href="javascript:void(0)">…</a></li>
                                        <li><a href="javascript:void(0)">10</a></li>
                                        <li><a href="javascript:void(0)"class="next">Next</a></li>
                                    </ul>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </section>
</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="margin-top: 150px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Upload File</h4>
            </div>
            <div class="modal-body">
               <span class="file-tit">Select the Excel File: </span>
                <div class="model-file">
                    <input type="text" class="file-route col-sm-8" ng-model="myfilesVal"/>
                    <div class="model-file-btn col-sm-4">
                        <button type="button" class="btn btn-primary">browse</button>
                        <input type="file" name="file" ngf-select="true" ng-model="myfiles" ngf-accept="'.xlsx,.xls'" ng-change="fileChange()"/>
                    </div>
                </div>
                <div class="model-upload">
                    <button type="button" class="btn btn-primary" ng-click="upload()">Upload</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>