<!-- MAIN CONTENT -->
<div id="content">

        <div class="row">
            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
                <h1 class="page-title txt-color-blueDark">
                    <span>Alliance fund maintenance</span>
                </h1>
            </div>
            <!-- <big-breadcrumbs items="['Cost interlock schedule']" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs> -->
            <!-- <div smart-include="app/layout/partials/sub-header.tpl.html"></div> -->
        </div>
        <!-- widget grid -->
        <section id="widget-grid" widget-grid>
    
            <!-- row -->
            <div class="row">
                <article class="col-sm-12">

                        <table class="col-sm-12" border="1" style="border: 1px solid #ddd;">
                                <tr style="background: #4C4F53;">
                                    <td>
                                        <div class="col-sm-6" style="color: white;font-weight: bold;">Cycle choose</div>
                                        <div><button class="btn btn-danger btn-xs pull-right" style="margin: 4px 10px 4px 4px;">execute</button></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="col-sm-1"><input type="checkbox"></div>
                                        <div>Q1M3 Actual</div> 
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="col-sm-1"><input type="checkbox"></div>
                                        <div>Q2M0 Forecast</div> 
                                     </td>
                                </tr>
                            </table>
                    
                            <table class="col-sm-12" style="padding: 4px;margin-top: 10px;">
                                        <tr style="background: #4C4F54;color: white;font-weight: bold;">
                                            <td colspan="3">
                                                <div class="pull-right" style="padding-right: 10px;">
                                                    <button class="btn btn-danger btn-xs" ng-click="btnSwitch('w')" ng-show="ww">Switch to WW</button>
                                                    <button class="btn btn-danger btn-xs" ng-click="btnSwitch('p')" ng-show="!ww">Switch to PRC</button>
                                                    <button class="btn btn-danger btn-xs">Search</button>                                            
                                                    <button class="btn btn-danger btn-xs">Save</button>
                                                    <button class="btn btn-danger btn-xs">Upload</button>
                                                    <button class="btn btn-danger btn-xs">Edit</button>
                                                    <button class="btn btn-danger btn-xs">Validate</button>
                                                    <button class="btn btn-danger btn-xs">ecxport to excel</button>
                                                    <button class="btn btn-danger btn-xs">Download format</button> 
                                                </div>
                                            </td>
                                        </tr>
                                    <tr style="height:30px;background: #F4F5F7;">
                                            <td class="col-sm-4">
                                                    <div class="form-group">
                                                        <label for="" class="col-sm-2">BU:</label>
                                                        <div class="col-sm-6">
                                                            <select class="form-control" name="" id="select-1">
                                                                    <option value="">Think Pad</option>
                                                                    <option value="">Lenovo NB</option>
                                                                    <option value="">Commercial DT</option>
                                                                    <option value="">Consumer DT</option>
                                                                    <option value="">Workstation</option>
                                                                    <option value="">Chrome</option>
                                                                    <option value="">Server</option>
                                                                    <option value="">Accessories</option>
                                                                    <option value="">Visual</option>
                                                                    <option value="">Win tabletL</option>
                                                                    <option value="">Win tabletT</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                            </td>
                                            <td class="col-sm-4">
                                                        <div class="form-group">
                                                            <label for="" class="col-sm-2">Segment:</label>
                                                            <div class="col-sm-6">
                                                                <select class="form-control" name="" id="select-1">
                                                                    <option value="">Consumer</option>
                                                                    <option value="">SMB</option>
                                                                    <option value="">Commercial</option>
                                                                    <option value="">Others</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                            </td>
                                            <td class="col-sm-4">
                                                
                                            </td>
                                    </tr>
                            </table>
        
                            <table ng-show="ww" class="col-sm-12 table1" border="1" style="margin-top: 6px;border: 1px solid #ddd;">
                                <tr style="text-align: center;color:#525453;font-weight: bolder;">
                                    <td rowspan="2" style="background: #F3F5F6;">PRC</td>
                                    <td colspan="7"><!-- FY1Q Cost Credit-M2--></td> 
                                </tr>
                                <tr style="text-align: center; color:#525453;font-weight: bolder;background: #F3F5F6;">
                                    <td>BU</td>
                                    <td>Consumer</td>
                                    <td>REL</td>
                                    <td>Think</td>
                                    <td>T-model tablet</td>
                                    <td>YT</td>
                                    <td>Global Total</td>
                                </tr>
                                <tr style="text-align: center;">
                                    <td rowspan="2" style="color: #525453;font-weight: bolder;background: #F3F5F6;">Alliance fund</td>
                                    <td style="color: #525453;font-weight: bolder;">
                                        Think Pad<br>
                                        Lenovo NB<br>
                                        Commercial DT<br>
                                        Consumer DT<br>
                                        Workstation<br>
                                        Server<br>
                                        Accessories<br>
                                        Visual
                                        <!-- <table>
                                            <tr style="text-align: center;">
                                                <td>Think Pad</td>
                                            </tr>
                                            <tr>
                                                <td>Lenovo NB</td>
                                            </tr>
                                            <tr>
                                                <td>Commercial DT</td>
                                            </tr>
                                            <tr>
                                                <td>Consumer DT</td>
                                            </tr>
                                            <tr>
                                                <td>Workstation</td>
                                            </tr>
                                            <tr>
                                                <td>Server</td>
                                            </tr>
                                            <tr>
                                                <td>Accessories</td>
                                            </tr>
                                            <tr>
                                                <td>Visual</td>
                                            </tr>
                                        </table> -->
                                    </td>
                                    <td>
                                        516<br>
                                        1200<br>
                                        2031<br>
                                        343<br>
                                        41<br>
                                        _<br>
                                        _<br>
                                        _
                                    </td>
                                    <td>
                                            516<br>
                                            1200<br>
                                            2031<br>
                                            343<br>
                                            41<br>
                                            _<br>
                                            _<br>
                                            _
                                    </td>
                                    <td>
                                            516<br>
                                            1200<br>
                                            2031<br>
                                            343<br>
                                            41<br>
                                            _<br>
                                            _<br>
                                            _
                                    </td>
                                    <td>
                                            516<br>
                                            1200<br>
                                            2031<br>
                                            343<br>
                                            41<br>
                                            _<br>
                                            _<br>
                                            _
                                    </td>
                                    <td>
                                            516<br>
                                            1200<br>
                                            2031<br>
                                            343<br>
                                            41<br>
                                            _<br>
                                            _<br>
                                            _
                                    </td>
                                    <td>
                                            516<br>
                                            1200<br>
                                            2031<br>
                                            343<br>
                                            41<br>
                                            _<br>
                                            _<br>
                                            _
                                    </td>
                                </tr>
                                <tr style="text-align: center;background: #F3F5F6;">
                                    <td style="color: #525453;font-weight: bolder;">Total</td>
                                    <td>4150</td>
                                    <td>4150</td>
                                    <td>4150</td>
                                    <td>4150</td>
                                    <td>4150</td>
                                    <td>4150</td>
                                </tr>
                            </table>

                            <table ng-show="!ww" class="col-sm-12 table1" border="1" style="margin-top: 6px;border: 1px solid #ddd;">
                                <tr style="text-align: center;color:#525453;font-weight: bolder;">
                                    <td rowspan="3" style="background: #F3F5F6;">Gategory</td>
                                    <td colspan="10">FY1Q Cost Credit-M2</td>
                                </tr>
                                <tr style="text-align: center; color:#525453;font-weight: bolder;background: #F3F5F6;">
                                    <td rowspan="2">BU</td>
                                    <td>PRC</td>
                                    <td colspan="8">AP</td>
                                </tr>
                                <tr style="text-align: center; background: #F3F5F6;">
                                    <td>China</td>
                                    <td style="border-right: 1px solid transparent;">HTK</td>
                                    <td style="border-right: 1px solid transparent;">ID</td>
                                    <td style="border-right: 1px solid transparent;">SEA</td>
                                    <td style="border-right: 1px solid transparent;">India</td>
                                    <td style="border-right: 1px solid transparent;">Japan</td>
                                    <td style="border-right: 1px solid transparent;">ANZ</td>
                                    <td>HQ</td>
                                    <td style="color:#525453;font-weight: bolder;">Total</td>
                                </tr>
                            </table>

                            <table ng-show="!ww" class="col-sm-12 table1" border="1" style="margin-top: 6px;border: 1px solid #ddd;">
                                <!-- <tr style="text-align: center;color:#525453;font-weight: bolder;">
                                    <td rowspan="2" style="background: #F3F5F6;">PRC</td>
                                    <td colspan="7">FY1Q Cost Credit-M2</td>
                                </tr>
                                <tr style="text-align: center; color:#525453;font-weight: bolder;background: #F3F5F6;">
                                    <td>BU</td>
                                    <td>Consumer</td>
                                    <td>REL</td>
                                    <td>Think</td>
                                    <td>T-model tablet</td>
                                    <td>YT</td>
                                    <td>Global Total</td>
                                </tr> -->
                                <tr style="text-align: center;">
                                    <td rowspan="2" style="color: #525453;font-weight: bolder;background: #F3F5F6;">Alliance Fund</td>
                                    <td style="color: #525453;font-weight: bolder;">
                                        <!-- Think Pad<br>
                                        Lenovo NB<br>
                                        Commercial DT<br>
                                        Consumer DT<br>
                                        Workstation<br>
                                        Server<br>
                                        Accessories<br>
                                        Visual -->
                                        <table style="margin: 0 auto;">
                                            <tr style="text-align: center;">
                                                <td>Think Pad</td>
                                            </tr>
                                            <tr>
                                                <td>Lenovo NB</td>
                                            </tr>
                                            <tr>
                                                <td>Commercial DT</td>
                                            </tr>
                                            <tr>
                                                <td>Consumer DT</td>
                                            </tr>
                                            <tr>
                                                <td>Workstation</td>
                                            </tr>
                                            <tr>
                                                <td>Server</td>
                                            </tr>
                                            <tr>
                                                <td>Accessories</td>
                                            </tr>
                                            <tr>
                                                <td>Visual</td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td>
                                        <!-- 516<br>
                                        1200<br>
                                        2031<br>
                                        343<br>
                                        41<br>
                                        _<br>
                                        _<br>
                                        _ -->
                                        <table style="margin: 0 auto;">
                                            <tr>
                                                <td>-11.55</td>
                                            </tr>
                                            <tr>
                                                <td>-25.90</td>
                                            </tr>
                                            <tr>
                                                <td>-27.86</td>
                                            </tr>
                                            <tr>
                                                <td>-5.65</td>
                                            </tr>
                                            <tr>
                                                <td>-1.32</td>
                                            </tr>
                                            <tr>
                                                <td>_</td>
                                            </tr>
                                            <tr>
                                                <td>_</td>
                                            </tr>
                                            <tr>
                                                <td>_</td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td style="border-right: 1px solid transparent;">
                                        <!-- 516<br>
                                        1200<br>
                                        2031<br>
                                        343<br>
                                        41<br>
                                        _<br>
                                        _<br>
                                        _ -->
                                        <table style="margin: 0 auto;">
                                            <tr>
                                                <td>-1.7</td>
                                            </tr>
                                            <tr>
                                                <td>-1.3</td>
                                            </tr>
                                            <tr>
                                                <td>-0.8</td>
                                            </tr>
                                            <tr>
                                                <td>-0.2</td>
                                            </tr>
                                            <tr>
                                                <td>-0.1</td>
                                            </tr>
                                            <tr>
                                                <td>_</td>
                                            </tr>
                                            <tr>
                                                <td>_</td>
                                            </tr>
                                            <tr>
                                                <td>_</td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td style="border-right: 1px solid transparent;">
                                        <!-- 516<br>
                                        1200<br>
                                        2031<br>
                                        343<br>
                                        41<br>
                                        _<br>
                                        _<br>
                                        _ -->
                                        <table style="margin: 0 auto;">
                                            <tr>
                                                <td>-0.2</td>
                                            </tr>
                                            <tr>
                                                <td>-1.2</td>
                                            </tr>
                                            <tr>
                                                <td>-0.5</td>
                                            </tr>
                                            <tr>
                                                <td>-0.3</td>
                                            </tr>
                                            <tr>
                                                <td>-0.0</td>
                                            </tr>
                                            <tr>
                                                <td>_</td>
                                            </tr>
                                            <tr>
                                                <td>_</td>
                                            </tr>
                                            <tr>
                                                <td>_</td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td style="border-right: 1px solid transparent;">
                                        <!-- 516<br>
                                        1200<br>
                                        2031<br>
                                        343<br>
                                        41<br>
                                        _<br>
                                        _<br>
                                        _ -->
                                        <table style="margin: 0 auto;">
                                            <tr>
                                                <td>-1.8</td>
                                            </tr>
                                            <tr>
                                                <td>-2.4</td>
                                            </tr>
                                            <tr>
                                                <td>-1.1</td>
                                            </tr>
                                            <tr>
                                                <td>-0.3</td>
                                            </tr>
                                            <tr>
                                                <td>-0.1</td>
                                            </tr>
                                            <tr>
                                                <td>_</td>
                                            </tr>
                                            <tr>
                                                <td>_</td>
                                            </tr>
                                            <tr>
                                                <td>_</td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td style="border-right: 1px solid transparent;">
                                        <!-- 516<br>
                                        1200<br>
                                        2031<br>
                                        343<br>
                                        41<br>
                                        _<br>
                                        _<br>
                                        _ -->
                                        <table style="margin: 0 auto;">
                                            <tr>
                                                <td>-2.2</td>
                                            </tr>
                                            <tr>
                                                <td>-2.7</td>
                                            </tr>
                                            <tr>
                                                <td>-1.3</td>
                                            </tr>
                                            <tr>
                                                <td>-0.3</td>
                                            </tr>
                                            <tr>
                                                <td>-0.1</td>
                                            </tr>
                                            <tr>
                                                <td>_</td>
                                            </tr>
                                            <tr>
                                                <td>_</td>
                                            </tr>
                                            <tr>
                                                <td>_</td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td style="border-right: 1px solid transparent;">
                                        <!-- 516<br>
                                        1200<br>
                                        2031<br>
                                        343<br>
                                        41<br>
                                        _<br>
                                        _<br>
                                        _ -->
                                        <table style="margin: 0 auto;">
                                            <tr>
                                                <td>-3.8</td>
                                            </tr>
                                            <tr>
                                                <td>-1.7</td>
                                            </tr>
                                            <tr>
                                                <td>-1.0</td>
                                            </tr>
                                            <tr>
                                                <td>-0.3</td>
                                            </tr>
                                            <tr>
                                                <td>-0.2</td>
                                            </tr>
                                            <tr>
                                                <td>_</td>
                                            </tr>
                                            <tr>
                                                <td>_</td>
                                            </tr>
                                            <tr>
                                                <td>_</td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td style="border-right: 1px solid transparent;">
                                        <!-- 516<br>
                                        1200<br>
                                        2031<br>
                                        343<br>
                                        41<br>
                                        _<br>
                                        _<br>
                                        _ -->
                                        <table style="margin: 0 auto;">
                                            <tr>
                                                <td>-2.1</td>
                                            </tr>
                                            <tr>
                                                <td>-1.3</td>
                                            </tr>
                                            <tr>
                                                <td>-0.7</td>
                                            </tr>
                                            <tr>
                                                <td>-0.2</td>
                                            </tr>
                                            <tr>
                                                <td>-0.1</td>
                                            </tr>
                                            <tr>
                                                <td>_</td>
                                            </tr>
                                            <tr>
                                                <td>_</td>
                                            </tr>
                                            <tr>
                                                <td>_</td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td>
                                        <!-- 516<br>
                                        1200<br>
                                        2031<br>
                                        343<br>
                                        41<br>
                                        _<br>
                                        _<br>
                                        _ -->
                                        <table style="margin: 0 auto;">
                                            <tr>
                                                <td>_</td>
                                            </tr>
                                            <tr>
                                                <td>_</td>
                                            </tr>
                                            <tr>
                                                <td>_</td>
                                            </tr>
                                            <tr>
                                                <td>_</td>
                                            </tr>
                                            <tr>
                                                <td>_</td>
                                            </tr>
                                            <tr>
                                                <td>_</td>
                                            </tr>
                                            <tr>
                                                <td>_</td>
                                            </tr>
                                            <tr>
                                                <td>_</td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td>
                                        <!-- 516<br>
                                        1200<br>
                                        2031<br>
                                        343<br>
                                        41<br>
                                        _<br>
                                        _<br>
                                        _ -->
                                        <table style="margin: 0 auto;">
                                            <tr>
                                                <td>-11.91</td>
                                            </tr>
                                            <tr>
                                                <td>-10.56</td>
                                            </tr>
                                            <tr>
                                                <td>-5.32</td>
                                            </tr>
                                            <tr>
                                                <td>-1.62</td>
                                            </tr>
                                            <tr>
                                                <td>-0.64</td>
                                            </tr>
                                            <tr>
                                                <td>_</td>
                                            </tr>
                                            <tr>
                                                <td>_</td>
                                            </tr>
                                            <tr>
                                                <td>_</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr style="text-align: center;background: #F3F5F6;">
                                    <td style="color: #525453;font-weight: bolder;">WW</td>
                                    <td>4150</td>
                                    <td>4150</td>
                                    <td>4150</td>
                                    <td>4150</td>
                                    <td>4150</td>
                                    <td>4150</td>
                                    <td>4150</td>
                                    <td>4150</td>
                                    <td>4150</td>
                                </tr>
                            </table>

                    </article>
                </div>
        
                <!-- end row -->
            </section>
            <!-- end widget grid -->
        
        </div>
        <!-- END MAIN CONTENT -->