<!-- MAIN CONTENT -->
<div id="content">
    <div class="row">
        <big-breadcrumbs items="['Biz data maintenance','CA manual upload']" icon="table" class="col-xs-12 col-sm-7 col-md-7 col-lg-5"></big-breadcrumbs>
    </div>
    <!-- widget grid -->
    <section id="widget-grid" widget-grid>
        <article class="col-sm-12">
            <!-- 第一部分 -->
            <div jarvis-widget data-widget-color="Light Blue" data-widget-editbutton="false" data-widget-fullscreenbutton="false"
                data-widget-deletebutton="false">
                <header>
                    <span class="widget-icon">
                        <i class="fa fa-table"></i>
                    </span>
                    <h2>Cycle choose</h2>
                </header>
                <div class="tab-serch">
                    <div class="col-sm-8">
                        <div class="col-sm-6 form-group-m">
                            <label>Cycle choose:</label>
                            <div class="for-sel">
                                <select class="form-control" ng-model="CycleChoose" ng-options="x for x in cycledata">
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6 form-group-m" style="margin-top: 5px;">
                            <label>Upload Excel File:</label>
                            <div class="model-file">
                                <input type="text" class="file-route col-sm-8" ng-model="myfilesVal"/>
                                <div class="model-file-btn col-sm-4">
                                    <button type="button" class="btn btn-back">Browse</button>
                                    <input type="file" name="file" ngf-select="true" ng-model="myfiles" ngf-accept="'.xlsx,.xls'" ng-change="fileChange()" ng-click="openUpload()"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 tab-serch-btn">
                        <button class="btn btn-back searchbtn" ng-click="upload()">Upload</button>
                        <button class="btn btn-back searchbtn" ng-click="DowTemp()">Download Template</button>
                    </div>
                </div>
            </div>
            <!-- 第二部分 -->
            <div class="mup-tabbtn" ng-show="caprcww">
                <!--PRC   switch to ww的时候显示的-->
                <!--PRC-->
                <div ng-show="ww">
                    <div jarvis-widget data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false"
                         data-widget-sortable="false">
                        <header>
                                <span class="widget-icon">
                                    <i class="fa fa-columns"></i>
                                </span>
                            <h2>PRC Related</h2>
                        </header>
                        <div>
                            <div class="widget-body no-padding">
                                <table id="camainprcTab" class="table-bordered smart-form has-tickbox table-hover table-camain" style="width: 100%;table-layout: fixed;">
                                    <thead class="gray" id="caprcTab">
                                    <!--<tr>-->
                                        <!--<td style="width:160px;border-bottom: 1px solid transparent;"></td>-->
                                        <!--<td ng-repeat="a in segmenttop track by $index">{{a}}</td>-->
                                    <!--</tr>-->
                                    <!--<tr>-->
                                        <!--<td></td>-->
                                        <!--<td ng-repeat="b in PrcSegment track by $index">{{b}}</td>-->
                                    <!--</tr>-->
                                        <tr>
                                            <td rowspan="2" style="width:160px;border-bottom: 1px solid transparent;"></td>
                                            <td rowspan="2">BU</td>
                                            <td ng-repeat="b in PrcSegment" ng-if="$index == 0" colspan="{{PrcSegment.length}}">PRC Segment</td>
                                            <td rowspan="2">Total</td>
                                        </tr>
                                        <tr>
                                            <td ng-repeat="b in PrcSegment track by $index">{{b}}</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="item in cadata">
                                        <td class="gray" ng-if="$index == 0" rowspan="{{cadata.length}}" style="padding-bottom: 70px;">CA(K)</td>
                                        <td>{{item.bu}}</td>
                                        <td ng-repeat="i in item.arr track by $index">{{i}}</td>
                                    </tr>
                                    </tbody>
                                    <!--<tbody>-->
                                    <!--<tr class="gray">-->
                                    <!--<td rowspan="12">CA(K)</td>-->
                                    <!--<td rowspan="2">BU</td>-->
                                    <!--<td colspan="5">PRC Segment</td>-->
                                    <!--<td rowspan="2">Total</td>-->
                                    <!--</tr>-->
                                    <!--<tr class="gray">-->
                                    <!--<td>Think-T</td>-->
                                    <!--<td>T-Model</td>-->
                                    <!--<td>REL</td>-->
                                    <!--<td>Consumer</td>-->
                                    <!--<td>YT</td>-->
                                    <!--</tr>-->
                                    <!--<tr>-->
                                    <!--<td>Think Pad</td>-->
                                    <!--<td>701.8</td>-->
                                    <!--<td>701.8</td>-->
                                    <!--<td>701.8</td>-->
                                    <!--<td>701.8</td>-->
                                    <!--<td>701.8</td>-->
                                    <!--<td>3508.9</td>-->
                                    <!--</tr>-->
                                    <!--<tr>-->
                                    <!--<td>Lenovo NB</td>-->
                                    <!--<td>701.8</td>-->
                                    <!--<td>701.8</td>-->
                                    <!--<td>701.8</td>-->
                                    <!--<td>701.8</td>-->
                                    <!--<td>701.8</td>-->
                                    <!--<td>3508.9</td>-->
                                    <!--</tr>-->
                                    <!--<tr>-->
                                    <!--<td>Commercial DT</td>-->
                                    <!--<td>701.8</td>-->
                                    <!--<td>701.8</td>-->
                                    <!--<td>701.8</td>-->
                                    <!--<td>701.8</td>-->
                                    <!--<td>701.8</td>-->
                                    <!--<td>3508.9</td>-->
                                    <!--</tr>-->
                                    <!--<tr>-->
                                    <!--<td>Consumer DT</td>-->
                                    <!--<td>701.8</td>-->
                                    <!--<td>701.8</td>-->
                                    <!--<td>701.8</td>-->
                                    <!--<td>701.8</td>-->
                                    <!--<td>701.8</td>-->
                                    <!--<td>3508.9</td>-->
                                    <!--</tr>-->
                                    <!--<tr>-->
                                    <!--<td>Workstation</td>-->
                                    <!--<td>701.8</td>-->
                                    <!--<td>701.8</td>-->
                                    <!--<td>701.8</td>-->
                                    <!--<td>701.8</td>-->
                                    <!--<td>701.8</td>-->
                                    <!--<td>3508.9</td>-->
                                    <!--</tr>-->
                                    <!--<tr>-->
                                    <!--<td>Chrome</td>-->
                                    <!--<td></td>-->
                                    <!--<td></td>-->
                                    <!--<td></td>-->
                                    <!--<td></td>-->
                                    <!--<td></td>-->
                                    <!--<td></td>-->
                                    <!--</tr>-->
                                    <!--<tr>-->
                                    <!--<td>Server</td>-->
                                    <!--<td>701.8</td>-->
                                    <!--<td>701.8</td>-->
                                    <!--<td>701.8</td>-->
                                    <!--<td>701.8</td>-->
                                    <!--<td>701.8</td>-->
                                    <!--<td>3508.9</td>-->
                                    <!--</tr>-->
                                    <!--<tr>-->
                                    <!--<td>Accessories</td>-->
                                    <!--<td>701.8</td>-->
                                    <!--<td>701.8</td>-->
                                    <!--<td>701.8</td>-->
                                    <!--<td>701.8</td>-->
                                    <!--<td>701.8</td>-->
                                    <!--<td>3508.9</td>-->
                                    <!--</tr>-->
                                    <!--<tr>-->
                                    <!--<td>Visual</td>-->
                                    <!--<td>701.8</td>-->
                                    <!--<td>701.8</td>-->
                                    <!--<td>701.8</td>-->
                                    <!--<td>701.8</td>-->
                                    <!--<td>701.8</td>-->
                                    <!--<td>3508.9</td>-->
                                    <!--</tr>-->
                                    <!--<tr>-->
                                    <!--<td>Total</td>-->
                                    <!--<td>2807.2</td>-->
                                    <!--<td>2807.2</td>-->
                                    <!--<td>2807.2</td>-->
                                    <!--<td>2807.2</td>-->
                                    <!--<td>2807.2</td>-->
                                    <!--<td>14035.8</td>-->
                                    <!--</tr>-->
                                    <!--</tbody>-->
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 tab-fun-btn">
                        <button class="btn btn-back btn-xs" uib-tooltip="Switch to PRC" tooltip-append-to-body="true" ng-click="btnSwitch('w')" ng-show="!ww">
                            <i class="fa fa-refresh"></i>
                        </button>
                        <button class="btn btn-back btn-xs" uib-tooltip="Switch to WW" tooltip-append-to-body="true" ng-click="btnSwitch('p')" ng-show="ww">
                            <i class="fa fa-refresh"></i>
                        </button>
                        <!--<button class="btn btn-back btn-xs" uib-tooltip="Validate" tooltip-append-to-body="true" ng-click="getValidate()">-->
                            <!--<i class="fa fa-send-o"></i>-->
                        <!--</button>-->
                    </div>
                </div>

                <div ng-show="sw1" id="operadata-segment-tab" style="margin-top: 10px;">
                    <div jarvis-widget data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-sortable="false">
                        <header>
                                <span class="widget-icon">
                                    <i class="fa fa-columns"></i>
                                </span>
                            <h2>Result</h2>
                        </header>
                        <div class="operadata-segment-con">
                            <div class="widget-body no-padding">
                                <ul class="nav nav-tabs bordered">
                                    <li ng-class="{true:'active',false:''}[{{$index == 0}}]" ng-repeat="s in segment track by $index">
                                        <a ng-href="#operadata-segment-{{$index+1}}" data-toggle="tab" aria-expanded="true">
                                            <i class="fa fa-lg fa-university"></i>
                                            <span class="hidden-mobile hidden-tablet">{{s}}</span>
                                        </a>
                                    </li>
                                </ul>
                                <div class="tab-content">

                                    <div id="operadata-segment-{{$index+1}}" class="tab-pane" ng-class="{true:'active',false:''}[{{$index == 0}}]" ng-repeat="(key,value) in dataMap">
                                        <table class="col-sm-12 table1 operadata-tab2">
                                            <tr>
                                                <td class="operadata-tab1-width">
                                                    <div class="operadata-tab2-box">
                                                        <table class="operadata-tab2-left">
                                                            <tr>
                                                                <!-- <td rowspan="11">CA(K)</td> -->
                                                                <td class="gray">
                                                                    <div class="operadata-tab2-box-jin1">
                                                                        <table>
                                                                            <tr>
                                                                                <td rowspan="11">CA(K)</td>
                                                                            </tr>
                                                                        </table>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="operadata-tab2-box-jin2">
                                                                        <table>
                                                                            <thead>
                                                                            <tr style="height: 66px;" class="gray">
                                                                                <td rowspan="2" style="border-top: 0px solid #fff;">BU</td>
                                                                            </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                            <tr class="operadata-left" ng-repeat="b in bu">
                                                                                <td>{{b}}</td>
                                                                            </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </td>
                                                <td class="operadata-tab2-bord">
                                                    <div class="operadata-tab2-box1">
                                                        <table class="operadata-tab2-right">
                                                            <thead class="gray">
                                                            <tr>
                                                                <td colspan="{{geovalue}}" ng-repeat="(geokey,geovalue) in value.geo">{{geokey}}</td>
                                                                <td rowspan="2">Global Total</td>
                                                            </tr>
                                                            <tr>
                                                                <td style="white-space: nowrap;" ng-repeat="r in value.region track by $index">{{r}}</td>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr class="operadata-left" ng-repeat="(bukey,buvalue) in value.bu">
                                                                <td ng-repeat="c in buvalue track by $index">{{c}}</td>
                                                            </tr>

                                                        </table>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 tab-fun-btn">
                        <button class="btn btn-back btn-xs" uib-tooltip="Shift View" tooltip-append-to-body="true" ng-click="btnSV('s1')" ng-show="!sw1">
                            <i class="fa fa-exchange"></i>
                        </button>
                        <button class="btn btn-back btn-xs" uib-tooltip="Shift View" tooltip-append-to-body="true" ng-click="btnSV('s2')" ng-show="sw1">
                            <i class="fa fa-exchange"></i>
                        </button>
                        <button class="btn btn-back btn-xs" uib-tooltip="Switch to PRC" tooltip-append-to-body="true" ng-click="btnSwitch('w')" ng-show="!ww">
                            <i class="fa fa-refresh"></i>
                        </button>
                        <button class="btn btn-back btn-xs" uib-tooltip="Switch to WW" tooltip-append-to-body="true" ng-click="btnSwitsch('p')" ng-show="ww">
                            <i class="fa fa-refresh"></i>
                        </button>
                        <!--<button class="btn btn-back btn-xs" uib-tooltip="Validate" tooltip-append-to-body="true" ng-click="getValidate()">-->
                            <!--<i class="fa fa-send-o"></i>-->
                        <!--</button>-->
                    </div>
                </div>
            </div>

        </article>

        <!-- end row -->
    </section>
    <!-- end widget grid -->

</div>
<!-- END MAIN CONTENT -->
