<!-- MAIN CONTENT -->
<div id="content">

        <div class="row">
                <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
                    <h1 class="page-title txt-color-blueDark">
                        <span>Deal maintenance</span>
                    </h1>
                </div>
                <!-- <big-breadcrumbs items="['Cost interlock schedule']" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs> -->
                <!-- <div smart-include="app/layout/partials/sub-header.tpl.html"></div> -->
            </div>
    <!-- widget grid -->
    <section id="widget-grid" widget-grid>

        <!-- row -->

        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                    <table class="col-sm-12" style="padding: 4px;">
                            <tr style="background: #4C4F54;color: white;height: 30px;">
                                <td colspan="3">
                                    <div class="pull-left col-sm-4" style="line-height: 30px;font-weight: bold;"> - search</div>
                                    <button class="btn btn-danger btn-xs pull-right" style="margin: 4px 14px 4px 4px;">search</button>
                                </td>
                            </tr>
                            <tr style="height:30px;background: #F4F5F7;">
                                    <td class="col-sm-4">
                                        <div class="form-group">
                                            <label for="" class="col-sm-4">Commodity type:</label>
                                            <div class="col-sm-6">
                                                <select class="form-control" name="" id="select-1">
                                                    <option value="">CPU</option>
                                                    <option value="">HDD</option>
                                                </select>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="col-sm-4">
                                       <!-- <div class="form-group">
                                                <label for="" class="col-sm-1">BU:</label>
                                                <div class="col-sm-7">
                                                    <select class="form-control" name="" id="select-1">
                                                        <option value="">TDT</option>
                                                        <option value="">TNB</option>
                                                    </select>
                                                </div>
                                            </div>-->
                                    </td>
                                    <td></td> 
                                </tr>
                        </table>
            
                        <table class="col-sm-12 table2" border="1" style="padding: 4px;margin-top: 10px;border: 1px solid #ddd;">
                                <tr style="background: #4C4F54;color: white;font-weight: bold;">
                                    <td colspan="8" class="col-sm-6">
                                        <div class="col-sm-9">Deal maintenance</div> 
                                        <div class="pull-right">
                                            <button class="btn btn-danger btn-xs">Download Template</button>
                                            <button class="btn btn-danger btn-xs">Upload</button>
                                            <button class="btn btn-danger btn-xs">Save</button>
                                            <button class="btn btn-danger btn-xs" ng-click="del()">Delete</button>
                                        </div>
                                    </td>
                                </tr>
                                <tr style="background: #F4F5F7;text-align: center;color: #525453;font-weight: bold;">
                                    <td>BG</td>
                                    <td>Commodity type</td>
                                    <td>Deal Name</td>
                                    <td>SKU</td>
                                    <td>EQL status</td>
                                    <td>Last Modified By</td>
                                    <td>Last Modified Date</td>                                    
                                    <td>Status</td>
                                </tr>
                                <tr style="text-align: center;">
                                    <td>
                                        <div class="col-sm-4"><input type="checkbox"></div>
                                        <div class="col-sm-6">PCG</div>
                                    </td>
                                    <td>CPU</td>
                                    <td>C2D</td>
                                    <td>G3930/T,G3900/T,G1820/T,G1840/T</td>
                                    <td>OL</td>
                                    <td>Youmin</td>
                                    <td>2018/5/21</td>
                                    <td>Saved</td>
                                </tr>
                                <tr style="text-align: center;">
                                        <td>
                                            <div class="col-sm-4"><input type="checkbox"></div>
                                            <div class="col-sm-6">PCG</div>
                                        </td>
                                        <td>CPU</td>
                                        <td>C2D</td>
                                        <td>G3930/T,G3900/T,G1820/T,G1840/T</td>
                                        <td>OL</td>
                                        <td>Youmin</td>
                                        <td>2018/5/21</td>
                                        <td>Saved</td>
                                    </tr>
                                    <tr style="text-align: center;">
                                            <td>
                                                <div class="col-sm-4"><input type="checkbox"></div>
                                                <div class="col-sm-6">PCG</div>
                                            </td>
                                            <td>CPU</td>
                                            <td>C2D</td>
                                            <td>G3930/T,G3900/T,G1820/T,G1840/T</td>
                                            <td>OL</td>
                                            <td>Youmin</td>
                                            <td>2018/5/21</td>
                                            <td>Saved</td>
                                        </tr>
                                        <tr style="text-align: center;">
                                                <td>
                                                    <div class="col-sm-4"><input type="checkbox"></div>
                                                    <div class="col-sm-6">PCG</div>
                                                </td>
                                                <td>CPU</td>
                                                <td>C2D</td>
                                                <td>G3930/T,G3900/T,G1820/T,G1840/T</td>
                                                <td>OL</td>
                                                <td>Youmin</td>
                                                <td>2018/5/21</td>
                                                <td>Saved</td>
                                            </tr>
                         </table>
            </article>
        </div>

        <!-- end row -->

    </section>
    <!-- end widget grid -->

</div>
<!-- END MAIN CONTENT -->
