<!-- MAIN CONTENT -->
<div id="content">
    <div class="row">
        <big-breadcrumbs items="['Biz data maintenance','Markup maintenance']" icon="table" class="col-xs-12 col-sm-7 col-md-7 col-lg-5"></big-breadcrumbs>
    </div>
    <!-- widget grid -->
    <section id="widget-grid" widget-grid>
        <article class="col-sm-12">
            <!--第一部分-->
            <div jarvis-widget data-widget-color="Light Blue" data-widget-editbutton="false" data-widget-fullscreenbutton="false"
                 data-widget-deletebutton="false">
                <header>
                    <span class="widget-icon">
                        <i class="fa fa-table"></i>
                    </span>
                    <h2>Cycle choose</h2>
                </header>
                <div class="tab-serch">
                    <div class="col-sm-8">
                        <div class="col-sm-6 form-group-m">
                            <label>Cycle choose:</label>
                            <div class="for-sel">
                                <select class="form-control" ng-model="CycleChoose" ng-options="x for x in cycledata">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 tab-serch-btn">
                        <button class="btn btn-back searchbtn" ng-click="getExecute()">Execute</button>
                    </div>
                </div>
            </div>
            <!--第二部分-->
            <div jarvis-widget>
                <div>
                    <div class="widget-body no-padding">
                        <div class="table-responsive table-border-tb">
                            <div style="height: 160px;overflow-y: scroll;">
                                <table class="table table-bordered table-striped smart-form has-tickbox table-hover tab-data tab-point" id="tabExample" style="table-layout: fixed;">
                                    <thead class="table-thead">
                                    <tr>
                                        <td width="19px"></td>
                                        <td>Cycle Name</td>
                                        <td>Description</td>
                                        <td>Status</td>
                                        <td>Created By</td>
                                        <td>Created Date</td>
                                        <td>End Date</td>
                                        <td>Validate by</td>
                                        <td>Validate Date</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="tab in tablist" ng-click="trClick($event,tab.taskId,tab.status,tab.cycleName)">
                                        <td>
                                            <label class="radio">
                                                <input type="radio" name="radio-inline">
                                                <i></i>
                                            </label>
                                        </td>
                                        <td>{{tab.cycleName}}</td>
                                        <td>{{tab.taskName}}</td>
                                        <td>{{tab.status}}</td>
                                        <td>{{tab.sysCreatedBy}}</td>
                                        <td>{{tab.sysCreatedDate | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                        <td>{{tab.sysEndDate | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                        <td>{{tab.publishUser}}</td>
                                        <td>{{tab.publishDate | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                            <div class="col-sm-4 tab-fun-btn2">
                                <button class="btn btn-back btn-sm" ng-click="SearchTab()">Search</button>
                                <button class="btn btn-back btn-sm" ng-click="DelParticular()">Delete</button>
                            </div>
                            <div class="col-sm-8">
                                <div class="table-pagination">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--第三部分-->
            <div jarvis-widget data-widget-color="Light Blue" data-widget-editbutton="false" data-widget-fullscreenbutton="false"
                 data-widget-deletebutton="false">
                <header>
                    <span class="widget-icon">
                        <i class="fa fa-table"></i>
                    </span>
                    <h2>Result</h2>
                </header>
            </div>
            <!--第四部分-->
            <div ng-show="markTab">
                <!--Forecast-->
                <div ng-show="atc">
                    <!--WW-->
                    <div class="mup-tabbtn" ng-show="aww">
                        <div jarvis-widget data-widget-colorbutton="false"	data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-sortable="false" ng-repeat="data in resData">
                            <header>
                                <span class="widget-icon"> <i class="fa fa-columns"></i> </span>
                                <h2 style="font-weight: 700">{{data.name}}</h2>
                            </header>
                            <div>
                                <div class="widget-body no-padding">
                                    <table class="table table-bordered table-striped smart-form has-tickbox table-hover tab-demo" style="table-layout: fixed;" border="1">
                                        <thead class="table-thead">
                                        <tr>
                                            <!--data.tbodyBmc-->
                                            <td style="word-break:break-all" ng-repeat="t in data.tbodyBmc.tbodyBmcThead">{{t}}</td>
                                            <!--<td style="word-break:break-all" ng-repeat="t in tab1_1thead">{{t}}</td>-->
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="t in data.tbodyBmc.tbodyBmcTbody">
                                            <!--<tr ng-repeat="t in tab1_1_tbody">-->
                                            <td>{{t.segment}}</td>
                                            <td ng-repeat="n in t.arr track by $index">{{n}}</td>
                                        </tr>

                                        </tbody>
                                        <tfoot>
                                        <tr ng-repeat="t in data.tbodyBmc.tbodyBmcTfoot">
                                            <!--<tr ng-repeat="t in tab1_1_tfoot">-->
                                            <td>{{t.segment}}</td>
                                            <td ng-repeat="n in t.arr track by $index">{{n}}</td>
                                        </tr>
                                        </tfoot>
                                    </table>
                                    <hr/>
                                    <table class="table table-bordered table-striped smart-form has-tickbox table-hover tab-demo" style="table-layout: fixed;margin-top: 15px;" border="1">
                                        <thead class="table-thead">
                                        <tr>
                                            <td style="word-break:break-all" ng-repeat="t in data.tbodyMark.tbodyMarkThead">{{t}}</td>
                                            <!--<td style="word-break:break-all" ng-repeat="t in tab1_2thead">{{t}}</td>-->
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="t in data.tbodyMark.tbodyMarkTbody">
                                            <!--<tr ng-repeat="t in tab1_2_tbody">-->
                                            <td>{{t.segment}}</td>
                                            <td ng-repeat="n in t.arr track by $index">{{n}}</td>
                                        </tr>

                                        </tbody>
                                        <tfoot>
                                        <tr ng-repeat="t in data.tbodyMark.tbodyMarkTfoot">
                                            <!--<tr ng-repeat="t in tab1_2_tfoot">-->
                                            <td>{{t.segment}}</td>
                                            <td ng-repeat="n in t.arr track by $index">{{n}}</td>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4 tab-fun-btn">

                            <button class="btn btn-back btn-xs" uib-tooltip="Switch to PRC" tooltip-append-to-body="true" ng-click="btnSwitchA('w')" ><i class="fa fa-refresh"></i></button>

                            <button class="btn btn-back btn-xs" uib-tooltip="Download" tooltip-append-to-body="true" ng-click="getDownLoad()"><i class="fa fa-download" id="ws1" style="display: block" ></i><i class="fa fa-spinner fa-spin" id="ws2" style="display: none"></i></button>

                            <button class="btn btn-back btn-xs" uib-tooltip="Validate" tooltip-append-to-body="true" ng-click="getValidate()"><i class="fa fa-send-o" ></i></button>
                        </div>
                    </div>
                    <!--PRC-->
                    <div class="mup-tabbtn" ng-show="!aww">
                        <div jarvis-widget data-widget-colorbutton="false"	data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-sortable="false">
                            <header>
                                <span class="widget-icon"> <i class="fa fa-columns"></i> </span>
                                <h2 style="font-weight: 700">PRC Related</h2>
                            </header>
                            <div>
                                <div class="widget-body no-padding">
                                    <table class="table table-bordered table-striped smart-form has-tickbox table-hover tab-demo tab-viMid" style="table-layout: fixed;">
                                        <thead class="table-thead">
                                        <tr >
                                            <td>XXX+PRC</td>
                                            <td ng-repeat="t in segmentPRC">{{t}}</td>
                                        </tr>
                                        </thead>
                                        <tbody  ng-repeat="data in markHZ">
                                        <tr >
                                            <td style="word-wrap:break-word;">{{data.name1}}</td>
                                            <td ng-repeat="t in data.data1 track by $index">{{t}}</td>
                                        </tr>
                                        <tr>
                                            <td style="word-wrap:break-word;">{{data.name2}}</td>
                                            <td ng-repeat="t in data.data2 track by $index">{{t}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4 tab-fun-btn">

                            <button class="btn btn-back btn-xs" uib-tooltip="Switch to WW" tooltip-append-to-body="true" ng-click="btnSwitchA('p')" ><i class="fa fa-refresh"></i></button>

                            <button class="btn btn-back btn-xs" uib-tooltip="Validate" tooltip-append-to-body="true" ng-click="getValidate()"><i class="fa fa-send-o" ></i></button>

                            <button class="btn btn-back btn-xs" uib-tooltip="Download" tooltip-append-to-body="true" ng-click="getDownLoad()"><i class="fa fa-download" id="ps1" style="display: block" ></i><i class="fa fa-spinner fa-spin" id="ps2" style="display: none"></i></button>
                        </div>
                    </div>
                </div>

                <div ng-show="!atc">
                    <!--Actual-->
                    <div class="mup-tabbtn report-tab" ng-show="!fww">
                        <div jarvis-widget data-widget-colorbutton="false"	data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-sortable="false">
                            <header>
                                <span class="widget-icon"> <i class="fa fa-columns"></i> </span>
                                <h2>PRC</h2>
                            </header>
                            <div>
                                <div class="widget-body no-padding">
                                    <table class="table-bordered smart-form has-tickbox table-hover table-mark" style="width: 100%;table-layout: fixed;">
                                        <thead class="table-thead">
                                        <tr>
                                            <td rowspan="2">XXX+BMC $M</td>
                                            <td colspan="5">PRC</td>
                                        </tr>
                                        <tr>
                                            <td>Think-T</td>
                                            <td>T-Model</td>
                                            <td>REL</td>
                                            <td>Consumer</td>
                                            <td>YT</td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>Think Pad</td>
                                            <td>692</td>
                                            <td>692</td>
                                            <td>692</td>
                                            <td>692</td>
                                            <td>692</td>
                                        </tr>
                                        <tr>
                                            <td>Lenovo NB</td>
                                            <td>1474</td>
                                            <td>1474</td>
                                            <td>1474</td>
                                            <td>1474</td>
                                            <td>1474</td>
                                        </tr>
                                        <tr>
                                            <td>Commercial DT</td>
                                            <td>2474</td>
                                            <td>2474</td>
                                            <td>2474</td>
                                            <td>2474</td>
                                            <td>2474</td>
                                        </tr>
                                        <tr>
                                            <td>Consumer DT</td>
                                            <td>392</td>
                                            <td>392</td>
                                            <td>392</td>
                                            <td>392</td>
                                            <td>392</td>
                                        </tr>
                                        <tr>
                                            <td>Workstation</td>
                                            <td>44</td>
                                            <td>44</td>
                                            <td>44</td>
                                            <td>44</td>
                                            <td>44</td>
                                        </tr>
                                        <tr>
                                            <td>Chrome</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Server</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Accessories</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Visual</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <td>WW</td>
                                            <td>5076</td>
                                            <td>5076</td>
                                            <td>5076</td>
                                            <td>5076</td>
                                            <td>5076</td>
                                        </tr>
                                        </tfoot>

                                    </table>
                                </div>
                            </div>
                        </div>


                        <div class="col-sm-4 tab-fun-btn">

                            <button class="btn btn-back btn-xs" uib-tooltip="Switch to PRC" tooltip-append-to-body="true" ng-click="btnSwitchF('p')" ><i class="fa fa-refresh"></i></button>

                            <button class="btn btn-back btn-xs" uib-tooltip="Validate" tooltip-append-to-body="true" ng-click="getValidate()"><i class="fa fa-send-o" ></i></button>

                            <button class="btn btn-back btn-xs" uib-tooltip="Download" tooltip-append-to-body="true" ng-click="getWWDownLoadSum()"><i class="fa fa-download" style="display: block" ></i><i class="fa fa-spinner fa-spin" style="display: none" ></i></button>
                        </div>
                    </div>
                    <div class="mup-tabbtn" id="operadata-segment-tab" style="margin-top: 10px;" ng-show="fww">

                        <div jarvis-widget data-widget-colorbutton="false"	data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-sortable="false">
                            <header>
                                <span class="widget-icon"> <i class="fa fa-columns"></i> </span>
                                <h2>XXX Segment</h2>
                            </header>
                            <div>
                                <div class="widget-body no-padding">
                                    <ul class="nav nav-tabs bordered">
                                        <li class="active ">
                                            <a href="#operadata-segment-1" data-toggle="tab"> <i class="fa fa-university"></i> Con</a>
                                        </li>
                                        <li>
                                            <a href="#operadata-segment-2" data-toggle="tab"> <i class="fa fa-bookmark"></i> SMB</a>
                                        </li>
                                        <li>
                                            <a href="#operadata-segment-3" data-toggle="tab"> <i class="fa fa-life-bouy"></i> REL</a>
                                        </li>
                                        <li>
                                            <a href="#operadata-segment-3" data-toggle="tab"><i class="fa-code-fork"></i>Others</a>
                                        </li>
                                        <li>
                                            <a href="#operadata-segment-3" data-toggle="tab"> <i class="fa fa-reorder"></i> TTL</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content " style="overflow: auto;width: 100%;">
                                        <div id="operadata-segment-1" class="tab-pane active">
                                            <table class="col-sm-12 table-mark table-mark-style tab-abc" id="abctable" border="1" style="border: 1px solid #ddd;white-space: nowrap;">
                                                <thead>
                                                <tr>
                                                    <td rowspan="2">XXX+BMC $M</td>
                                                    <td>PRC</td>
                                                    <td colspan="8">AP</td>
                                                    <td colspan="18">EMEA</td>
                                                    <td>NA</td>
                                                    <td>LAS</td>
                                                    <td>Brazil</td>
                                                    <td rowspan="2">Top</td>
                                                    <td rowspan="2">Global Total</td>
                                                </tr>
                                                <tr>
                                                    <td>China</td>
                                                    <td>HTK</td>
                                                    <td>ID</td>
                                                    <td>SEA</td>
                                                    <td>India</td>
                                                    <td>Japan</td>
                                                    <td>ANZ</td>
                                                    <td>HQ</td>
                                                    <td>Total</td>
                                                    <td>Italy</td>
                                                    <td>Israel</td>
                                                    <td>Iberia</td>
                                                    <td>France</td>
                                                    <td>UKI</td>
                                                    <td>Nordics</td>
                                                    <td>Benelux</td>
                                                    <td>MEA</td>
                                                    <td>Turkey</td>
                                                    <td>Russia</td>
                                                    <td>EECA</td>
                                                    <td>GAT</td>
                                                    <td>CZ / SK</td>
                                                    <td>CH</td>
                                                    <td>Poland</td>
                                                    <td>SEE</td>
                                                    <td>HQ</td>
                                                    <td>Total</td>
                                                    <td>US/CA</td>
                                                    <td>LAS</td>
                                                    <td>Brazil</td>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>Think Pad</td>
                                                    <td>11</td>
                                                    <td>22</td>
                                                    <td>33</td>
                                                    <td>44</td>
                                                    <td>55</td>
                                                    <td>6</td>
                                                    <td>777</td>
                                                    <td>8888</td>
                                                    <td>6</td>
                                                    <td>66</td>
                                                    <td>555</td>
                                                    <td>44</td>
                                                    <td>333</td>
                                                    <td>44</td>
                                                    <td>22</td>
                                                    <td>111</td>
                                                    <td>33</td>
                                                    <td>444</td>
                                                    <td>555</td>
                                                    <td>666</td>
                                                    <td>777</td>
                                                    <td>888</td>
                                                    <td>99</td>
                                                    <td>00</td>
                                                    <td>777</td>
                                                    <td>888</td>
                                                    <td>666</td>
                                                    <td>888</td>
                                                    <td>555</td>
                                                    <td>99</td>
                                                    <td>00</td>
                                                    <td>88</td>
                                                </tr>
                                                <tr>
                                                    <td>Lenovo NB</td>
                                                    <td>11</td>
                                                    <td>22</td>
                                                    <td>33</td>
                                                    <td>44</td>
                                                    <td>55</td>
                                                    <td>6</td>
                                                    <td>777</td>
                                                    <td>8888</td>
                                                    <td>6</td>
                                                    <td>66</td>
                                                    <td>555</td>
                                                    <td>44</td>
                                                    <td>333</td>
                                                    <td>44</td>
                                                    <td>22</td>
                                                    <td>111</td>
                                                    <td>33</td>
                                                    <td>444</td>
                                                    <td>555</td>
                                                    <td>666</td>
                                                    <td>777</td>
                                                    <td>888</td>
                                                    <td>99</td>
                                                    <td>00</td>
                                                    <td>777</td>
                                                    <td>888</td>
                                                    <td>666</td>
                                                    <td>888</td>
                                                    <td>555</td>
                                                    <td>99</td>
                                                    <td>00</td>
                                                    <td>88</td>
                                                </tr>
                                                <tr>
                                                    <td>Commercial DT</td>
                                                    <td>11</td>
                                                    <td>22</td>
                                                    <td>33</td>
                                                    <td>44</td>
                                                    <td>55</td>
                                                    <td>6</td>
                                                    <td>777</td>
                                                    <td>8888</td>
                                                    <td>6</td>
                                                    <td>66</td>
                                                    <td>555</td>
                                                    <td>44</td>
                                                    <td>333</td>
                                                    <td>44</td>
                                                    <td>22</td>
                                                    <td>111</td>
                                                    <td>33</td>
                                                    <td>444</td>
                                                    <td>555</td>
                                                    <td>666</td>
                                                    <td>777</td>
                                                    <td>888</td>
                                                    <td>99</td>
                                                    <td>00</td>
                                                    <td>777</td>
                                                    <td>888</td>
                                                    <td>666</td>
                                                    <td>888</td>
                                                    <td>555</td>
                                                    <td>99</td>
                                                    <td>00</td>
                                                    <td>88</td>
                                                </tr>
                                                <tr>
                                                    <td>Consumer DT</td>
                                                    <td>11</td>
                                                    <td>22</td>
                                                    <td>33</td>
                                                    <td>44</td>
                                                    <td>55</td>
                                                    <td>6</td>
                                                    <td>777</td>
                                                    <td>8888</td>
                                                    <td>6</td>
                                                    <td>66</td>
                                                    <td>555</td>
                                                    <td>44</td>
                                                    <td>333</td>
                                                    <td>44</td>
                                                    <td>22</td>
                                                    <td>111</td>
                                                    <td>33</td>
                                                    <td>444</td>
                                                    <td>555</td>
                                                    <td>666</td>
                                                    <td>777</td>
                                                    <td>888</td>
                                                    <td>99</td>
                                                    <td>00</td>
                                                    <td>777</td>
                                                    <td>888</td>
                                                    <td>666</td>
                                                    <td>888</td>
                                                    <td>555</td>
                                                    <td>99</td>
                                                    <td>00</td>
                                                    <td>88</td>
                                                </tr>
                                                <tr>
                                                    <td>Workstation</td>
                                                    <td>11</td>
                                                    <td>22</td>
                                                    <td>33</td>
                                                    <td>44</td>
                                                    <td>55</td>
                                                    <td>6</td>
                                                    <td>777</td>
                                                    <td>8888</td>
                                                    <td>6</td>
                                                    <td>66</td>
                                                    <td>555</td>
                                                    <td>44</td>
                                                    <td>333</td>
                                                    <td>44</td>
                                                    <td>22</td>
                                                    <td>111</td>
                                                    <td>33</td>
                                                    <td>444</td>
                                                    <td>555</td>
                                                    <td>666</td>
                                                    <td>777</td>
                                                    <td>888</td>
                                                    <td>99</td>
                                                    <td>00</td>
                                                    <td>777</td>
                                                    <td>888</td>
                                                    <td>666</td>
                                                    <td>888</td>
                                                    <td>555</td>
                                                    <td>99</td>
                                                    <td>00</td>
                                                    <td>88</td>
                                                </tr>
                                                <tr>
                                                    <td>Chrome</td>
                                                    <td>11</td>
                                                    <td>22</td>
                                                    <td>33</td>
                                                    <td>44</td>
                                                    <td>55</td>
                                                    <td>6</td>
                                                    <td>777</td>
                                                    <td>8888</td>
                                                    <td>6</td>
                                                    <td>66</td>
                                                    <td>555</td>
                                                    <td>44</td>
                                                    <td>333</td>
                                                    <td>44</td>
                                                    <td>22</td>
                                                    <td>111</td>
                                                    <td>33</td>
                                                    <td>444</td>
                                                    <td>555</td>
                                                    <td>666</td>
                                                    <td>777</td>
                                                    <td>888</td>
                                                    <td>99</td>
                                                    <td>00</td>
                                                    <td>777</td>
                                                    <td>888</td>
                                                    <td>666</td>
                                                    <td>888</td>
                                                    <td>555</td>
                                                    <td>99</td>
                                                    <td>00</td>
                                                    <td>88</td>
                                                </tr>
                                                <tr>
                                                    <td>Server</td>
                                                    <td>11</td>
                                                    <td>22</td>
                                                    <td>33</td>
                                                    <td>44</td>
                                                    <td>55</td>
                                                    <td>6</td>
                                                    <td>777</td>
                                                    <td>8888</td>
                                                    <td>6</td>
                                                    <td>66</td>
                                                    <td>555</td>
                                                    <td>44</td>
                                                    <td>333</td>
                                                    <td>44</td>
                                                    <td>22</td>
                                                    <td>111</td>
                                                    <td>33</td>
                                                    <td>444</td>
                                                    <td>555</td>
                                                    <td>666</td>
                                                    <td>777</td>
                                                    <td>888</td>
                                                    <td>99</td>
                                                    <td>00</td>
                                                    <td>777</td>
                                                    <td>888</td>
                                                    <td>666</td>
                                                    <td>888</td>
                                                    <td>555</td>
                                                    <td>99</td>
                                                    <td>00</td>
                                                    <td>88</td>
                                                </tr>
                                                <tr>
                                                    <td>Accessories</td>
                                                    <td>11</td>
                                                    <td>22</td>
                                                    <td>33</td>
                                                    <td>44</td>
                                                    <td>55</td>
                                                    <td>6</td>
                                                    <td>777</td>
                                                    <td>8888</td>
                                                    <td>6</td>
                                                    <td>66</td>
                                                    <td>555</td>
                                                    <td>44</td>
                                                    <td>333</td>
                                                    <td>44</td>
                                                    <td>22</td>
                                                    <td>111</td>
                                                    <td>33</td>
                                                    <td>444</td>
                                                    <td>555</td>
                                                    <td>666</td>
                                                    <td>777</td>
                                                    <td>888</td>
                                                    <td>99</td>
                                                    <td>00</td>
                                                    <td>777</td>
                                                    <td>888</td>
                                                    <td>666</td>
                                                    <td>888</td>
                                                    <td>555</td>
                                                    <td>99</td>
                                                    <td>00</td>
                                                    <td>88</td>
                                                </tr>
                                                <tr>
                                                    <td>Visual</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                </tbody>
                                                <tfoot>
                                                <tr>
                                                    <td>WW</td>
                                                    <td>11</td>
                                                    <td>22</td>
                                                    <td>33</td>
                                                    <td>44</td>
                                                    <td>55</td>
                                                    <td>6</td>
                                                    <td>777</td>
                                                    <td>8888</td>
                                                    <td>6</td>
                                                    <td>66</td>
                                                    <td>555</td>
                                                    <td>44</td>
                                                    <td>333</td>
                                                    <td>44</td>
                                                    <td>22</td>
                                                    <td>111</td>
                                                    <td>33</td>
                                                    <td>444</td>
                                                    <td>555</td>
                                                    <td>666</td>
                                                    <td>777</td>
                                                    <td>888</td>
                                                    <td>99</td>
                                                    <td>00</td>
                                                    <td>777</td>
                                                    <td>888</td>
                                                    <td>666</td>
                                                    <td>888</td>
                                                    <td>555</td>
                                                    <td>99</td>
                                                    <td>00</td>
                                                    <td>88</td>
                                                </tr>
                                                </tfoot>
                                            </table>
                                            <table class="col-sm-12 table-mark table-mark-style"  border="1" style="border: 1px solid #ddd;white-space: nowrap;width: 202px;position: absolute;top: 40px;left: 0;">
                                                <thead>
                                                <tr style="height: 62px;">
                                                    <td rowspan="2">XXX+BMC $M</td>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>Think Pad</td>
                                                </tr>
                                                <tr>
                                                    <td>Lenovo NB</td>
                                                </tr>
                                                <tr>
                                                    <td>Commercial DT</td>
                                                </tr>
                                                <tr>
                                                    <td>Consumer DT</td>
                                                </tr>
                                                <tr>
                                                    <td>Workstation</td>
                                                </tr>
                                                <tr>
                                                    <td>Chrome</td>
                                                </tr>
                                                <tr>
                                                    <td>Server</td>
                                                </tr>
                                                <tr>
                                                    <td>Accessories</td>
                                                </tr>
                                                <tr>
                                                    <td>Visual</td>
                                                </tr>
                                                </tbody>
                                                <tfoot>
                                                <tr>
                                                    <td>WW</td>
                                                </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4 tab-fun-btn">

                            <button class="btn btn-back btn-xs" uib-tooltip="Switch to WW" tooltip-append-to-body="true" ng-click="btnSwitchF('w')" ><i class="fa fa-refresh"></i></button>

                            <button class="btn btn-back btn-xs" uib-tooltip="Download" tooltip-append-to-body="true" ng-click="getWWDownLoadSum()"><i class="fa fa-download" style="display: block" ></i><i class="fa fa-spinner fa-spin" style="display: none" ></i></button>

                            <button class="btn btn-back btn-xs" uib-tooltip="Validate" tooltip-append-to-body="true" ng-click="getValidate()"><i class="fa fa-send-o" ></i></button>
                        </div>
                    </div>



                </div>
            </div>



        </article>

        <!-- end row -->
    </section>
</div>
<!-- END MAIN CONTENT -->