<!-- MAIN CONTENT -->
<div id="content">
    <div class="row">
        <big-breadcrumbs items="['Biz data manual upload','Mega Deal related  maintenance']" icon="table" class="col-xs-12 col-sm-7 col-md-7 col-lg-5"></big-breadcrumbs>
    </div>
    <!-- widget grid -->
    <section id="widget-grid" id="widget-grid">
        <article class="col-sm-12">
            <!-- 第一部分 -->
            <div jarvis-widget data-widget-color="Light Blue"
                 data-widget-editbutton="false"
                 data-widget-fullscreenbutton="false"
                 data-widget-deletebutton="false">
                <header>
                    <span class="widget-icon">
                        <i class="fa fa-table"></i>
                    </span>
                    <h2>Cycle choose</h2>
                </header>
                <div class="tab-serch">
                    <div class="col-sm-9">
                        <div class="col-sm-6 form-group-m">
                            <label>Cycle choose:</label>
                            <div class="for-sel">
                                <select class="form-control" ng-model="CycleChoose" ng-options="x for x in cycledata">
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6 form-group-m" style="margin-top: 5px;">
                            <label>Upload Excel File:</label>
                            <div class="model-file">
                                <input type="text" class="file-route col-sm-8" ng-model="myfilesVal"/>
                                <div class="model-file-btn col-sm-4">
                                    <button type="button" class="btn btn-back">Browse</button>
                                    <input type="file" name="file" ngf-select="true" ng-model="myfiles" ngf-accept="'.xlsx,.xls'" ng-change="fileChange()"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 tab-serch-btn">
                        <button class="btn btn-back pull-right" id="upload2" style="display: none;"><i class="fa fa-spinner fa-spin"></i></button>
                        <button class="btn btn-back pull-right" id="upload1" style="margin-right:10px;" ng-click="upload()">Upload</button>
                        <button class="btn btn-back pull-right" style="margin-right: 10px;" ng-click="DowTemp()">Download Template</button>
                    </div>
                </div>
            </div>

            <!-- 第二部分 -->
            <div jarvis-widget  data-widget-color="Light Blue"
                 data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
                <header>
                    <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                    <h2>Result</h2>
                </header>
            </div>

            <!--第三部分-->
            <!--TAB-->
            <div class="mup-tabbtn report-tab" ng-show="TAB" style="max-height: 575px;overflow: hidden">
                <div jarvis-widget data-widget-colorbutton="false"	data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-sortable="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-columns"></i> </span>
                        <h2>Mega deal related impact</h2>
                    </header>
                    <div>
                        <div class="widget-body no-padding">
                            <table class="table table-bordered table-striped smart-form has-tickbox table-hover tab-data tab-sear" id="MegaTable">
                                <thead class="table-thead tab-mid">
                                <tr>
                                    <td>Cycle</td>
                                    <td>Category</td>
                                    <td>Segment</td>
                                    <td>BU</td>
                                    <td>Geo</td>
                                    <td>Reigon</td>
                                    <td>Value</td>
                                    <td>Remark</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 tab-fun-btn">
                    <button class="btn btn-back btn-xs" uib-tooltip="Download Summary" tooltip-append-to-body="true" ng-click="getWWDownLoadSum()"><i class="fa fa-download" style="display: block" id="ws1"></i><i class="fa fa-spinner fa-spin" style="display: none" id="ws2"></i></button>
                </div>
            </div>
        </article>

    </section>

</div>