<!-- MAIN CONTENT -->
<div id="content">
    <div class="row">
        <big-breadcrumbs items="['Biz data maintenance','Other category']" icon="table" class="col-xs-12 col-sm-7 col-md-7 col-lg-5"></big-breadcrumbs>
    </div>
    <!-- widget grid -->
    <section id="widget-grid" widget-grid>
        <article class="col-sm-12">
            <!-- 第一部分 -->
            <div jarvis-widget data-widget-color="Light Blue"
                 data-widget-editbutton="false"
                 data-widget-fullscreenbutton="false"
                 data-widget-deletebutton="false">
                <header>
                    <span class="widget-icon">
                        <i class="fa fa-table"></i>
                    </span>
                    <h2>Cycle choose</h2>
                </header>
                <div class="tab-serch">
                    <div class="col-sm-8">
                        <div class="col-sm-5 form-group-m">
                            <label>Cycle choose:</label>
                            <div class="for-sel">
                                <select class="form-control" ng-model="CycleChoose" ng-options="x for x in cycledata">
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-7 form-group-m">
                            <label>Upload Excel File:</label>
                            <div class="model-file">
                                <input type="text" class="file-route col-sm-8" ng-model="myfilesVal"/>
                                <div class="model-file-btn col-sm-4">
                                    <button type="button" class="btn btn-back">Browse</button>
                                    <input type="file" name="file" ngf-select="true" ng-model="myfiles" ngf-accept="'.xlsx,.xls'" ng-change="fileChange()" ng-click="openUpload()"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 pull-right">
                        <button class="btn btn-back pull-right" id="upload2" style="display: none;"><i class="fa fa-spinner fa-spin"></i></button>
                        <button class="btn btn-back pull-right" id="upload1" style="margin-right:10px;" ng-click="upload()">Upload</button>
                        <button class="btn btn-back pull-right" style="margin-right: 10px;" ng-click="DowTemp()">Download Template</button>
                    </div>
                </div>
            </div>
            <!-- 第二部分 -->
            <div jarvis-widget  data-widget-color="Light Blue"
                 data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
                <header>
                    <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                    <h2>Result</h2>
                </header>
            </div>
            <!-- 第三部分 -->
            <div class="mup-tabbtn" ng-show="ww">
                <div class="othermain">
                    <div jarvis-widget data-widget-colorbutton="false"
                         data-widget-editbutton="false"
                         data-widget-deletebutton="false"
                         data-widget-sortable="false" style="z-index:2;">
                        <header>
                                <span class="widget-icon">
                                    <i class="fa fa-columns"></i>
                                </span>
                            <h2>Result</h2>
                        </header>
                        <div class="operadata-segment-con">
                            <div class="widget-body no-padding">
                                <main id="other_content">
                                    <section class="demo1" id="final">
                                        <table class="overflow-both" >
                                            <thead>
                                            <tr>
                                                <th class="center" rowspan="2" colspan="3">Mx Cost Guidance Forecast</th>
                                                <th class="center" rowspan="3">BU</th>
                                                <th class="center" colspan="{{geovalue}}" ng-repeat="(geokey,geovalue) in dataMap.geo">{{geokey}}</th>
                                            </tr>
                                            <tr>
                                                <th class="center" colspan="{{regionvalue.length}}" ng-repeat="(regionkey,regionvalue) in dataMap.region">{{regionvalue.region}}</th>
                                            </tr>
                                            <tr>
                                                <th class="center" id="td">Main Category</th>

                                                <th>First layer</th>
                                                <th>Second layer</th>
                                                <th class="center" ng-repeat="s in dataMap.segment track by $index">{{s}}</th>
                                            </tr>
                                            </thead>

                                            <tbody>
                                            <tr ng-repeat="category in dataMap.categoryData track by $index" on-finish-render-filters>
                                                <th rowspan="{{category.length}}" ng-if="category.index == 0">{{category.categorylvl1}}</th>
                                                <th rowspan="{{category.length}}" ng-if="category.index == 0">{{category.categorylvl2}}</th>
                                                <th rowspan="{{category.length}}" ng-if="category.index == 0">{{category.categorylvl3}}</th>
                                                <th>{{category.bu}}</th>
                                                <td ng-repeat="c in category.ca track by $index">{{c}}</td>
                                            </tr>
                                            </tbody>
                                        </table>

                                    </section>
                                </main>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 tab-fun-btn" style="z-index: 10;">
                        <button class="btn btn-back btn-xs" uib-tooltip="Download" tooltip-append-to-body="true"  ng-click="getOtherDown()">
                            <i class="fa fa-download"></i>
                        </button>
                    </div>
                </div>
            </div>
        </article>

    </section>

</div>