<!-- MAIN CONTENT -->
<div id="content">

    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <span>Q2Q PN  Takedown Maintenance</span>
            </h1>
        </div>
        <!-- <big-breadcrumbs items="['Cost interlock schedule']" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs> -->
        <!-- <div smart-include="app/layout/partials/sub-header.tpl.html"></div> -->
    </div>
    <!-- widget grid -->
    <section id="widget-grid" widget-grid>

        <!-- row -->
        <div class="row">
            <article class="col-sm-12">
                <table class="col-sm-12" border="1" style="border: 1px solid #ddd;">
                    <tr style="background: #4C4F53;">
                        <td>
                            <div class="col-sm-6" style="color: white;font-weight: bold;">Cycle choose</div>
                            <div><button class="btn btn-danger btn-xs pull-right" style="margin: 4px 10px 4px 4px;">execute</button></div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="col-sm-1"><input type="checkbox"></div>
                            <div>Q1M3 Actual</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="col-sm-1"><input type="checkbox"></div>
                            <div>Q2M0 Forecast</div>
                        </td>
                    </tr>
                </table>

                <table class="col-sm-12 table2" border="1" style="padding: 4px;margin-top: 10px;border:1px solid #ddd;">
                    <tr style="background: #4C4F54;color: white;height: 30px;">
                        <td colspan="6">
                            <div class="col-sm-6" style="color: white;font-weight: bold;">CFE BOM integration JOB</div>
                            <div>
                                <button class="btn btn-danger btn-xs pull-right" style="margin: 4px 10px 4px 4px;">import</button>
                                <button class="btn btn-danger btn-xs pull-right" style="margin: 4px 10px 4px 4px;">Calculate</button>
                            </div>
                        </td>
                    </tr>
                    <tr style="background: #F4F5F7;text-align: center;color: #525453;font-weight: bold;">
                        <td>Job Name</td>
                        <td>User/Job ID</td>
                        <td>Start time</td>
                        <td>End time</td>
                        <td>Status</td>
                        <td>import Stats</td>
                    </tr>
                    <tr style="text-align: center;">
                        <td>
                            <div class="col-sm-2"><input type="checkbox"></div>
                            <div class="col-sm-6">Q1M30521</div>
                        </td>
                        <td>Tom</td>
                        <td>16:00</td>
                        <td>17:00</td>
                        <td>Successful</td>
                        <td></td>
                    </tr>
                    <tr style="text-align: center;">
                        <td>
                            <div class="col-sm-2"><input type="checkbox"></div>
                            <div class="col-sm-6">Q1M30521</div>
                        </td>
                        <td>Tom</td>
                        <td>16:00</td>
                        <td>17:00</td>
                        <td>Successful</td>
                        <td>imported</td>
                    </tr>
                    <tr style="text-align: center;">
                        <td>
                            <div class="col-sm-2"><input type="checkbox"></div>
                            <div class="col-sm-6">Q1M30521</div>
                        </td>
                        <td>Tom</td>
                        <td>16:00</td>
                        <td>17:00</td>
                        <td>Successful</td>
                        <td></td>
                    </tr>
                </table>
                <table class="col-sm-12 table2" border="1" style="padding: 4px;margin-top: 10px;border:1px solid #ddd;">
                    <tr style="background: #4C4F54;color: white;height: 30px;">
                        <td colspan="6">
                            <div class="col-sm-6" style="color: white;font-weight: bold;">EBR Data Integration Job</div>
                        </td>
                    </tr>
                    <tr style="background: #F4F5F7;text-align: center;color: #525453;font-weight: bold;">
                        <td>Job Name</td>
                        <td>User/Job ID</td>
                        <td>Start time</td>
                        <td>End time</td>
                        <td>Status</td>
                        <td>import Stats</td>
                    </tr>
                    <tr style="text-align: center;">
                        <td>
                            <div class="col-sm-2"><input type="checkbox"></div>
                            <div class="col-sm-6">Q1M30521</div>
                        </td>
                        <td>Tom</td>
                        <td>16:00</td>
                        <td>17:00</td>
                        <td>Successful</td>
                        <td></td>
                    </tr>
                    <tr style="text-align: center;">
                        <td>
                            <div class="col-sm-2"><input type="checkbox"></div>
                            <div class="col-sm-6">Q1M30521</div>
                        </td>
                        <td>Tom</td>
                        <td>16:00</td>
                        <td>17:00</td>
                        <td>Successful</td>
                        <td>imported</td>
                    </tr>
                    <tr style="text-align: center;">
                        <td>
                            <div class="col-sm-2"><input type="checkbox"></div>
                            <div class="col-sm-6">Q1M30521</div>
                        </td>
                        <td>Tom</td>
                        <td>16:00</td>
                        <td>17:00</td>
                        <td>Successful</td>
                        <td></td>
                    </tr>
                </table>


                <table class="col-sm-12" style="padding: 4px;margin-top: 10px;">
                    <tr style="background: #4C4F54;color: white;font-weight: bold;">
                        <td colspan="3">
                            <div class="pull-right" style="padding-right: 10px;">
                                <button class="btn btn-primary btn-xs" ng-click="btnSV1('d')" ng-show="s1">Deltail view</button>
                                <button class="btn btn-primary btn-xs" ng-click="btnSV1('s')" ng-show="s1">Summary view</button>
                                <button class="btn btn-primary btn-xs" ng-click="btnSV2('d')" ng-show="s2">Deltail view</button>
                                <button class="btn btn-primary btn-xs" ng-click="btnSV2('s')" ng-show="s2">Summary view</button>
                                <button class="btn btn-danger btn-xs" ng-click="btnSwitch('w')" ng-show="ww">Switch to WW</button>
                                <button class="btn btn-danger btn-xs" ng-click="btnSwitch('p')" ng-show="!ww">Switch to PRC</button>
                                <button class="btn btn-danger btn-xs">Edit</button>
                                <button class="btn btn-danger btn-xs">Export</button>
                                <button class="btn btn-danger btn-xs">Search</button>
                                <button class="btn btn-danger btn-xs">Upload</button>
                                <button class="btn btn-danger btn-xs">Save</button>
                                <button class="btn btn-danger btn-xs">Validate</button>
                            </div>
                        </td>
                    </tr>
                    <tr style="height:30px;background: #F4F5F7;">
                        <td class="col-sm-4">
                            <div class="form-group">
                                <label for="" class="col-sm-2">BU:</label>
                                <div class="col-sm-6">
                                    <select class="form-control" name="" id="select-1">
                                        <option value="">Think Pad</option>
                                        <option value="">Lenovo NB</option>
                                        <option value="">Commercial DT</option>
                                        <option value="">Consumer DT</option>
                                        <option value="">Workstation</option>
                                        <option value="">Chrome</option>
                                        <option value="">Server</option>
                                        <option value="">Accessories</option>
                                        <option value="">Visual</option>
                                        <option value="">Win tabletL</option>
                                        <option value="">Win tabletT</option>
                                    </select>
                                </div>
                            </div>
                        </td>
                        <td class="col-sm-4">
                            <div class="form-group" ng-show="!sw2">
                                <label for="" class="col-sm-2">Segment:</label>
                                <div class="col-sm-6">
                                    <select class="form-control" name="">
                                        <option value="">Consumer</option>
                                        <option value="">SMB</option>
                                        <option value="">Commercial</option>
                                        <option value="">Others</option>
                                    </select>
                                </div>
                            </div>
                        </td>
                        <td></td>
                    </tr>
                </table>
                <!--大表-->
                <div style="width: 100%;overflow-y: hidden;"ng-show="w1">
                    <table class="col-sm-12" border="1" style="border: 1px solid #ddd;text-align:center;margin-top: 10px;">
                        <tr style="background: #F4F5F7;color: #525453;font-weight: bolder;white-space: nowrap;">
                            <td>DUMMY</td>
                            <td>Qty Q3</td>
                            <td>commodity</td>
                            <td>sub commodity</td>
                            <td>commodity des</td>
                            <td>Jan</td>
                            <td>Feb</td>
                            <td>Mar</td>
                            <td>Apr</td>
                            <td>May</td>
                            <td>Jun</td>
                            <td>spending1-3</td>
                            <td>spending4-6</td>
                            <td>GAP</td>
                            <td></td>
                            <td>TAPE1</td>
                            <td>TAPE2</td>
                            <td>TAPE3</td>
                            <td>NET4</td>
                            <td>NET5</td>
                            <td>NET6</td>
                            <td>spending by cost</td>
                            <td>spending by net</td>
                            <td>GAP</td>
                            <td> Saving variance</td>
                        </tr>
                        <tr>
                            <td>1100916</td>
                            <td>13,287</td>
                            <td>CPU</td>
                            <td>AMD</td>
                            <td>AMD</td>
                            <td>38.00</td>
                            <td>38.00</td>
                            <td>38.00</td>
                            <td>38.00</td>
                            <td>38.00</td>
                            <td>38.00</td>
                            <td>0.50</td>
                            <td>0.50</td>
                            <td>-</td>
                            <td>IPG1100916</td>
                            <td>38</td>
                            <td>38</td>
                            <td>38</td>
                            <td>38</td>
                            <td>38</td>
                            <td>38</td>
                            <td>0.50</td>
                            <td>0.50</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>1101049</td>
                            <td>29</td>
                            <td>CPU</td>
                            <td>AMD</td>
                            <td>AMD</td>
                            <td>19.00</td>
                            <td>19.00</td>
                            <td>19.00</td>
                            <td>19.00</td>
                            <td>19.00</td>
                            <td>19.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>-</td>
                            <td>IPG1101049</td>
                            <td>19</td>
                            <td>19</td>
                            <td>19</td>
                            <td>19</td>
                            <td>19</td>
                            <td>19</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>1101095</td>
                            <td>19,304</td>
                            <td>CPU</td>
                            <td>intel</td>
                            <td>intel</td>
                            <td>30.00</td>
                            <td>30.00</td>
                            <td>30.00</td>
                            <td>25.00</td>
                            <td>25.00</td>
                            <td>25.00</td>
                            <td>0.58</td>
                            <td>0.48</td>
                            <td>0.10</td>
                            <td>IPG1101095</td>
                            <td>-9</td>
                            <td>-9</td>
                            <td>-9</td>
                            <td>-14</td>
                            <td>-14</td>
                            <td>-14</td>
                            <td>-0.17</td>
                            <td>-0.27</td>
                            <td>0.10</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>1101104</td>
                            <td>233</td>
                            <td>cpu</td>
                            <td>intel</td>
                            <td>#N/A</td>
                            <td>272.00</td>
                            <td>272.00</td>
                            <td>272.00</td>
                            <td>272.00</td>
                            <td>272.00</td>
                            <td>272.00</td>
                            <td>0.06</td>
                            <td>0.06</td>
                            <td>-</td>
                            <td>IPG1101104</td>
                            <td>#N/A</td>
                            <td>#N/A</td>
                            <td>#N/A</td>
                            <td>#N/A</td>
                            <td>#N/A</td>
                            <td>#N/A</td>
                            <td>#N/A</td>
                            <td>#N/A</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>1101105</td>
                            <td>-2</td>
                            <td>cpu</td>
                            <td>intel</td>
                            <td>#N/A</td>
                            <td>192.50</td>
                            <td>192.50</td>
                            <td>192.50</td>
                            <td>192.50</td>
                            <td>192.50</td>
                            <td>192.50</td>
                            <td>-0.00</td>
                            <td>-0.00</td>
                            <td>-</td>
                            <td>IPG1101105</td>
                            <td>#N/A</td>
                            <td>#N/A</td>
                            <td>#N/A</td>
                            <td>#N/A</td>
                            <td>#N/A</td>
                            <td>#N/A</td>
                            <td>#N/A</td>
                            <td>#N/A</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>SC90M70282</td>
                            <td>86</td>
                            <td>CPU</td>
                            <td>AMD</td>
                            <td>#N/A</td>
                            <td>34.50</td>
                            <td>34.50</td>
                            <td>34.50</td>
                            <td>34.50</td>
                            <td>34.50</td>
                            <td>34.50</td>
                            <td>34.50</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>TPGSC90M70282</td>
                            <td>34.5</td>
                            <td>34.5</td>
                            <td>34.5</td>
                            <td>#N/A</td>
                            <td>#N/A</td>
                            <td>#N/A</td>
                            <td>0.00</td>
                            <td>#N/A</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>SC90M70282</td>
                            <td>185</td>
                            <td>CPU</td>
                            <td>AMD</td>
                            <td>#N/A</td>
                            <td>34.50</td>
                            <td>34.50</td>
                            <td>34.50</td>
                            <td>34.50</td>
                            <td>34.50</td>
                            <td>34.50</td>
                            <td>34.50</td>
                            <td>0.01</td>
                            <td>0.01</td>
                            <td>TPGSC90M70282</td>
                            <td>34.5</td>
                            <td>34.5</td>
                            <td>34.5</td>
                            <td>#N/A</td>
                            <td>#N/A</td>
                            <td>#N/A</td>
                            <td>0.01</td>
                            <td>#N/A</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>SC90M70282</td>
                            <td>257</td>
                            <td>CPU</td>
                            <td>AMD</td>
                            <td>#N/A</td>
                            <td>34.50</td>
                            <td>34.50</td>
                            <td>34.50</td>
                            <td>34.50</td>
                            <td>34.50</td>
                            <td>34.50</td>
                            <td>34.50</td>
                            <td>0.01</td>
                            <td>0.01</td>
                            <td>TPGSC90M70282</td>
                            <td>34.5</td>
                            <td>34.5</td>
                            <td>34.5</td>
                            <td>#N/A</td>
                            <td>#N/A</td>
                            <td>#N/A</td>
                            <td>0.01</td>
                            <td>#N/A</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>SC90M70282</td>
                            <td>38</td>
                            <td>CPU</td>
                            <td>AMD</td>
                            <td>#N/A</td>
                            <td>34.50</td>
                            <td>34.50</td>
                            <td>34.50</td>
                            <td>34.50</td>
                            <td>34.50</td>
                            <td>34.50</td>
                            <td>34.50</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>TPGSC90M70282</td>
                            <td>34.5</td>
                            <td>34.5</td>
                            <td>34.5</td>
                            <td>#N/A</td>
                            <td>#N/A</td>
                            <td>#N/A</td>
                            <td>0.00</td>
                            <td>#N/A</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>SC90M70282</td>
                            <td>145</td>
                            <td>CPU</td>
                            <td>AMD</td>
                            <td>#N/A</td>
                            <td>34.50</td>
                            <td>34.50</td>
                            <td>34.50</td>
                            <td>34.50</td>
                            <td>34.50</td>
                            <td>34.50</td>
                            <td>34.50</td>
                            <td>0.01</td>
                            <td>0.01</td>
                            <td>TPGSC90M70282</td>
                            <td>34.5</td>
                            <td>34.5</td>
                            <td>34.5</td>
                            <td>#N/A</td>
                            <td>#N/A</td>
                            <td>#N/A</td>
                            <td>0.01</td>
                            <td>#N/A</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                    </table>
                </div>
                <div style="width: 100%;overflow-y: hidden;" ng-show="w2">
                    <table class="col-sm-12" border="1" style="border: 1px solid #ddd;text-align:center;margin-top: 10px;">
                        <tr style="background: #F4F5F7;color: #525453;font-weight: bolder;white-space: nowrap;">
                            <td>DUMMY</td>
                            <td>Qty Q3</td>
                            <td>commodity</td>
                            <td>sub commodity</td>
                            <td>commodity des</td>
                            <td>Jan</td>
                            <td>Feb</td>
                            <td>Mar</td>
                            <td>Apr</td>
                            <td>May</td>
                            <td>Jun</td>
                            <td>sub Geo</td>
                            <td>GEO</td>
                            <td>spending1-3</td>
                            <td>spending4-6</td>
                            <td>GAP</td>
                            <td></td>
                            <td>TAPE1</td>
                            <td>TAPE2</td>
                            <td>TAPE3</td>
                            <td>NET4</td>
                            <td>NET5</td>
                            <td>NET6</td>
                            <td>spending by cost</td>
                            <td>spending by net</td>
                            <td>GAP</td>
                            <td> Saving variance</td>
                        </tr>
                        <tr>
                            <td>1100916</td>
                            <td>13,287</td>
                            <td>CPU</td>
                            <td>AMD</td>
                            <td>AMD</td>
                            <td>38.00</td>
                            <td>38.00</td>
                            <td>38.00</td>
                            <td>38.00</td>
                            <td>38.00</td>
                            <td>38.00</td>
                            <td></td>
                            <td>PRC</td>
                            <td>0.50</td>
                            <td>0.50</td>
                            <td>-</td>
                            <td>IPG1100916</td>
                            <td>38</td>
                            <td>38</td>
                            <td>38</td>
                            <td>38</td>
                            <td>38</td>
                            <td>38</td>
                            <td>0.50</td>
                            <td>0.50</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>1101049</td>
                            <td>29</td>
                            <td>CPU</td>
                            <td>AMD</td>
                            <td>AMD</td>
                            <td>19.00</td>
                            <td>19.00</td>
                            <td>19.00</td>
                            <td>19.00</td>
                            <td>19.00</td>
                            <td>19.00</td>
                            <td></td>
                            <td>PRC</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>-</td>
                            <td>IPG1101049</td>
                            <td>19</td>
                            <td>19</td>
                            <td>19</td>
                            <td>19</td>
                            <td>19</td>
                            <td>19</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>1101095</td>
                            <td>19,304</td>
                            <td>CPU</td>
                            <td>intel</td>
                            <td>intel</td>
                            <td>30.00</td>
                            <td>30.00</td>
                            <td>30.00</td>
                            <td>25.00</td>
                            <td>25.00</td>
                            <td>25.00</td>
                            <td></td>
                            <td>PRC</td>
                            <td>0.58</td>
                            <td>0.48</td>
                            <td>0.10</td>
                            <td>IPG1101095</td>
                            <td>-9</td>
                            <td>-9</td>
                            <td>-9</td>
                            <td>-14</td>
                            <td>-14</td>
                            <td>-14</td>
                            <td>-0.17</td>
                            <td>-0.27</td>
                            <td>0.10</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>1101104</td>
                            <td>233</td>
                            <td>cpu</td>
                            <td>intel</td>
                            <td>#N/A</td>
                            <td>272.00</td>
                            <td>272.00</td>
                            <td>272.00</td>
                            <td>272.00</td>
                            <td>272.00</td>
                            <td>272.00</td>
                            <td></td>
                            <td>PRC</td>
                            <td>0.06</td>
                            <td>0.06</td>
                            <td>-</td>
                            <td>IPG1101104</td>
                            <td>#N/A</td>
                            <td>#N/A</td>
                            <td>#N/A</td>
                            <td>#N/A</td>
                            <td>#N/A</td>
                            <td>#N/A</td>
                            <td>#N/A</td>
                            <td>#N/A</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>1101105</td>
                            <td>-2</td>
                            <td>cpu</td>
                            <td>intel</td>
                            <td>#N/A</td>
                            <td>192.50</td>
                            <td>192.50</td>
                            <td>192.50</td>
                            <td>192.50</td>
                            <td>192.50</td>
                            <td>192.50</td>
                            <td></td>
                            <td>PRC</td>
                            <td>-0.00</td>
                            <td>-0.00</td>
                            <td>-</td>
                            <td>IPG1101105</td>
                            <td>#N/A</td>
                            <td>#N/A</td>
                            <td>#N/A</td>
                            <td>#N/A</td>
                            <td>#N/A</td>
                            <td>#N/A</td>
                            <td>#N/A</td>
                            <td>#N/A</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>SC90M70282</td>
                            <td>86</td>
                            <td>CPU</td>
                            <td>AMD</td>
                            <td>#N/A</td>
                            <td>34.50</td>
                            <td>34.50</td>
                            <td>34.50</td>
                            <td>34.50</td>
                            <td>34.50</td>
                            <td>34.50</td>
                            <td>34.50</td>
                            <td>ANZ</td>
                            <td>AP</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>TPGSC90M70282</td>
                            <td>34.5</td>
                            <td>34.5</td>
                            <td>34.5</td>
                            <td>#N/A</td>
                            <td>#N/A</td>
                            <td>#N/A</td>
                            <td>0.00</td>
                            <td>#N/A</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>SC90M70282</td>
                            <td>185</td>
                            <td>CPU</td>
                            <td>AMD</td>
                            <td>#N/A</td>
                            <td>34.50</td>
                            <td>34.50</td>
                            <td>34.50</td>
                            <td>34.50</td>
                            <td>34.50</td>
                            <td>34.50</td>
                            <td>34.50</td>
                            <td>ANZ</td>
                            <td>AP</td>
                            <td>0.01</td>
                            <td>0.01</td>
                            <td>TPGSC90M70282</td>
                            <td>34.5</td>
                            <td>34.5</td>
                            <td>34.5</td>
                            <td>#N/A</td>
                            <td>#N/A</td>
                            <td>#N/A</td>
                            <td>0.01</td>
                            <td>#N/A</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>SC90M70282</td>
                            <td>257</td>
                            <td>CPU</td>
                            <td>AMD</td>
                            <td>#N/A</td>
                            <td>34.50</td>
                            <td>34.50</td>
                            <td>34.50</td>
                            <td>34.50</td>
                            <td>34.50</td>
                            <td>34.50</td>
                            <td>34.50</td>
                            <td>ASA</td>
                            <td>LAS</td>
                            <td>0.01</td>
                            <td>0.01</td>
                            <td>TPGSC90M70282</td>
                            <td>34.5</td>
                            <td>34.5</td>
                            <td>34.5</td>
                            <td>#N/A</td>
                            <td>#N/A</td>
                            <td>#N/A</td>
                            <td>0.01</td>
                            <td>#N/A</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>SC90M70282</td>
                            <td>38</td>
                            <td>CPU</td>
                            <td>AMD</td>
                            <td>#N/A</td>
                            <td>34.50</td>
                            <td>34.50</td>
                            <td>34.50</td>
                            <td>34.50</td>
                            <td>34.50</td>
                            <td>34.50</td>
                            <td>34.50</td>
                            <td>ASA</td>
                            <td>LAS</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>TPGSC90M70282</td>
                            <td>34.5</td>
                            <td>34.5</td>
                            <td>34.5</td>
                            <td>#N/A</td>
                            <td>#N/A</td>
                            <td>#N/A</td>
                            <td>0.00</td>
                            <td>#N/A</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>SC90M70282</td>
                            <td>145</td>
                            <td>CPU</td>
                            <td>AMD</td>
                            <td>#N/A</td>
                            <td>34.50</td>
                            <td>34.50</td>
                            <td>34.50</td>
                            <td>34.50</td>
                            <td>34.50</td>
                            <td>34.50</td>
                            <td>34.50</td>
                            <td>ASEAN</td>
                            <td>AP</td>
                            <td>0.01</td>
                            <td>0.01</td>
                            <td>TPGSC90M70282</td>
                            <td>34.5</td>
                            <td>34.5</td>
                            <td>34.5</td>
                            <td>#N/A</td>
                            <td>#N/A</td>
                            <td>#N/A</td>
                            <td>0.01</td>
                            <td>#N/A</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                    </table>
                </div>
                <!--小表-->
                <table ng-show="c1" class="col-sm-12" border="1" style="border: 1px solid #ddd;text-align:center;margin-top: 10px;">
                    <tr style="background: #F4F5F7;color: #525453;font-weight: bolder;white-space: nowrap;">
                        <td>Sourcing Tower ($/CA)</td>
                        <td>PRC</td>
                        <td>AP</td>
                        <td>EMEA</td>
                        <td>NA</td>
                        <td>LAS</td>
                        <td>WW Tape QtQ Take-down</td>
                    </tr>
                    <tr>
                        <td>CPU</td>
                        <td>6.9</td>
                        <td>8.1</td>
                        <td>8.4</td>
                        <td>4.1</td>
                        <td>9.2</td>
                        <td>7.1</td>
                    </tr>
                    <tr>
                        <td>Wireless</td>
                        <td>0.3</td>
                        <td>0.6</td>
                        <td>0.6</td>
                        <td>0.6</td>
                        <td>0.4</td>
                        <td>0.5</td>
                    </tr>
                    <tr>
                        <td>SW</td>
                        <td>-1.2</td>
                        <td>-1.2</td>
                        <td>-1.2</td>
                        <td>-1.2</td>
                        <td>-1.2</td>
                        <td>-1.2</td>
                    </tr>
                    <tr>
                        <td>Memory</td>
                        <td>-0.5</td>
                        <td>-0.2</td>
                        <td>-0.2</td>
                        <td>0.1</td>
                        <td>-0.2</td>
                        <td>-0.3</td>
                    </tr>
                    <tr>
                        <td>SSD</td>
                        <td>0.8</td>
                        <td>1.0</td>
                        <td>1.7</td>
                        <td>1.5</td>
                        <td>0.3</td>
                        <td>1.2</td>
                    </tr>
                    <tr>
                        <td>LCD</td>
                        <td>3.5</td>
                        <td>5.1</td>
                        <td>5.6</td>
                        <td>3.8</td>
                        <td>4.6</td>
                        <td>4.4</td>
                    </tr>
                    <tr>
                        <td>Visuals</td>
                        <td>2.3</td>
                        <td>0.7</td>
                        <td>0.7</td>
                        <td>0.8</td>
                        <td>0.8</td>
                        <td>1.3</td>
                    </tr>
                    <tr>
                        <td>Storage</td>
                        <td>8.1</td>
                        <td>5.7</td>
                        <td>4.1</td>
                        <td>2.8</td>
                        <td>7.4</td>
                        <td>5.8</td>
                    </tr>
                    <tr>
                        <td>NB Power</td>
                        <td>0.2</td>
                        <td>0.3</td>
                        <td>0.4</td>
                        <td>0.3</td>
                        <td>0.2</td>
                        <td>0.3</td>
                    </tr>
                    <tr>
                        <td>NB Platform</td>
                        <td>2.3</td>
                        <td>4.8</td>
                        <td>4.5</td>
                        <td>5.2</td>
                        <td>4.7</td>
                        <td>3.8</td>
                    </tr>
                    <tr>
                        <td>DT Platform</td>
                        <td>2.9</td>
                        <td>2.6</td>
                        <td>2.6</td>
                        <td>2.7</td>
                        <td>2.8</td>
                        <td>2.7</td>
                    </tr>
                    <tr>
                        <td>Top contigency</td>
                        <td>2.5</td>
                        <td>2.5</td>
                        <td>2.5</td>
                        <td>2.5</td>
                        <td>2.5</td>
                        <td>2.5</td>
                    </tr>
                    <tr>
                        <td>Total</td>
                        <td>28.0</td>
                        <td>30.0</td>
                        <td>29.6</td>
                        <td>23.2</td>
                        <td>31.6</td>
                        <td>28.1</td>
                    </tr>
                </table>
                <table ng-show="c2" class="col-sm-12" border="1" style="border: 1px solid #ddd;text-align:center;margin-top: 10px;">
                    <tr style="background: #F4F5F7;color: #525453;font-weight: bolder;white-space: nowrap;">
                        <td>Sourcing Tower ($/CA)</td>
                        <td>PRC</td>
                        <td>Total QtQ Take-down</td>
                    </tr>
                    <tr>
                        <td>CPU</td>
                        <td>6.9</td>
                        <td>7.2</td>
                    </tr>
                    <tr>
                        <td>Wireless</td>
                        <td>0.3</td>
                        <td>0.5</td>
                    </tr>
                    <tr>
                        <td>SW</td>
                        <td>-1.2</td>
                        <td>-1.2</td>
                    </tr>
                    <tr>
                        <td>Memory</td>
                        <td>-0.5</td>
                        <td>-0.3</td>
                    </tr>
                    <tr>
                        <td>SSD</td>
                        <td>0.8</td>
                        <td>1.2</td>
                    </tr>
                    <tr>
                        <td>LCD</td>
                        <td>3.5</td>
                        <td>4.4</td>
                    </tr>
                    <tr>
                        <td>Visuals</td>
                        <td>2.3</td>
                        <td>1.3</td>
                    </tr>
                    <tr>
                        <td>Storage</td>
                        <td>8.1</td>
                        <td>5.8</td>
                    </tr>
                    <tr>
                        <td>NB Power</td>
                        <td>0.2</td>
                        <td>0.3</td>
                    </tr>
                    <tr>
                        <td>NB Platform</td>
                        <td>2.9</td>
                        <td>4.7</td>
                    </tr>
                    <tr>
                        <td>DT Platform</td>
                        <td>3.4</td>
                        <td>2.7</td>
                    </tr>
                    <tr>
                        <td>Top contigency</td>
                        <td>2.5</td>
                        <td>2.5</td>
                    </tr>
                    <tr>
                        <td>Total</td>
                        <td>29.2</td>
                        <td>29.1</td>
                    </tr>
                </table>

            </article>
        </div>

        <!-- end row -->
    </section>
    <!-- end widget grid -->

</div>
<!-- END MAIN CONTENT -->