<div id="content">

        <!-- row -->
        <div class="row">
    
            <!-- col -->
             <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
                <h1 class="page-title txt-color-blueDark"><!-- PAGE HEADER<i class="fa-fw fa fa-home"></i> Dashboard --> 
                    <span>Task Queue</span>
                </h1>
             </div>  
            <!-- end col -->
    
        </div>
        <!-- end row -->
    
        <!--
        The ID "widget-grid" will start to initialize all widgets below
        You do not need to use widgets if you dont want to. Simply remove
        the <section></section> and you can use wells or panels instead
        -->
    
        <!-- widget grid -->
        <section id="widget-grid" class="">
            <!-- row -->
            
            <div class="row">
    
                <!-- a blank row to get started -->
                <div class="col-sm-12">
                    <p class="col-sm-4">User ID: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" placeholder="单行输入" style="height:32px;padding-left: 10px;border: 1px solid #CCCCCC;"></p>
                    <p class="col-sm-4">Job Name: &nbsp;&nbsp;&nbsp;&nbsp;<input type="text" placeholder="单行输入" style="height:32px;padding-left: 10px;border: 1px solid #cccccc;"></p>
                </div>
                <br><br>
                <div class="col-sm-4">
                        <div class="form-group">
                            <label for="" class="col-sm-2">Status:</label>
                            <div class="col-sm-7">
                                <select class="form-control" name="" id="select-1">
                                    <option value="">All</option>
                                    <option value="">Active</option>
                                    <option value="">Aborted</option>
                                    <option value="">Completed</option>
                                </select>
                            </div>
                        </div>
                </div>
                <div class="col-sm-12">
                        <table class="col-sm-12 table2" border="1" style="padding: 4px;margin-top: 10px;border: 1px solid #ddd;">
                                <tr style="background: #4C4F54;color: white;font-weight: bold;">
                                    <td colspan="5" class="col-sm-12"><button class="btn btn-danger btn-xs pull-right">Search</button></td>
                                </tr>
                                <tr style="background: #F4F5F7;text-align: center;color: #525453;font-weight: bold;">
                                    <td>Job Name</td>
                                    <td>User/Job ID</td>
                                    <td>Start time</td>
                                    <td>End time</td>
                                    <td>Status</td>
                                </tr>
                                <tr style="text-align: center;">
                                    <td>Master Date Net Change</td>
                                    <td>TS</td>
                                    <td>5/15/2018 7:00PM</td>
                                    <td>5/15/2018 7:20PM</td>
                                    <td>Completed</td>
                                </tr>
                                <tr style="text-align: center;">
                                    <td>UI_FULL_CAL#FULL#20180515190002570</td>
                                    <td>TPG</td>
                                    <td>5/15/2018 7:00PM</td>
                                    <td>5/15/2018 7:20PM</td>
                                    <td>ACTIVE</td>
                                </tr>
                                <tr style="text-align: center;">
                                        <td>Master Date Net Change</td>
                                        <td>TS</td>
                                        <td>5/15/2018 7:30PM</td>
                                        <td>5/15/2018 7:50PM</td>
                                        <td>Completed</td>
                                    </tr>
                         </table>
                </div>
            </div> 
    
            <!-- end row -->
    
        </section>
        <!-- end widget grid -->
    
    </div>